Repository JushBJJ/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @TT-billteng, @pgkeller, @aliuTT, @tt-aho, @TT-BrianLiu, @abhullar-tt, @davorchap, @tarafdarTT, @DrJessop, @rtawfik01, @muthutt, @mywoodstock, @mo-tenstorrent, @farbabi, @tt-nshanker, @arakhmati, @eyonland, @boris-drazic

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

third_party/ @tt-rkim @TT-billteng
sfpi/ @pgkeller

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim
requirements*.txt @tt-rkim
setup_hugepages.py @tt-rkim

Makefile @tt-rkim
/module.mk @tt-rkim
tt_metal/module.mk @tt-rkim
tt_metal/common/module.mk @tt-rkim
tt_eager/module.mk @tt-rkim

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu

# metal - base
# tt_metal/tt_metal.cpp @abhullar-tt @TT-billteng
tt_metal/host_api.hpp @abhullar-tt @TT-billteng @davorchap
tt_metal/impl/device/ @TT-billteng
tt_metal/impl/buffers/ @TT-billteng @tarafdarTT
tt_metal/impl/program/ @TT-billteng
# tt_metal/impl/ @abhullar-tt @TT-billteng
# tt_metal/impl/**/module.mk @tt-rkim @abhullar-tt @TT-billteng

# metal - dispatch
tt_metal/impl/dispatch/ @DrJessop @davorchap
tt_metal/impl/dispatch/**/module.mk @DrJessop @davorchap @tt-rkim
tt_metal/kernels/dataflow/dispatch/ @DrJessop @davorchap @tarafdarTT
docs/source/frameworks/tt_dispatch.rst @DrJessop @davorchap
docs/source/tt_metal/apis/host_apis/ @TT-billteng

# metal - fw, llks, risc-v
# tt_metal/hw/ckernels/ @davorchap
# tt_metal/hw/ckernels/**/module.mk @tt-rkim @davorchap
# tt_metal/hw/ckernels/**/Makefile @tt-rkim @davorchap
# tt_metal/hw/firmware/ @davorchap @pgkeller @DrJessop
tt_metal/hw/ckernels/ @rtawfik01
tt_metal/hw/firmware/**/module.mk @tt-rkim
tt_metal/hw/firmware/**/Makefile @tt-rkim
# tt_metal/hw/meta/ @davorchap @pgkeller @DrJessop @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @muthutt @mywoodstock
tt_metal/include/dataflow_kernel_api.h @davorchap @DrJessop @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @DrJessop @mywoodstock

# metal - profiler
# tt_metal/**/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/**/profiler/**/module.mk @tt-rkim @mo-tenstorrent @TT-billteng
# tests/tt_metal/tools/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent @TT-billteng
# docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent @TT-billteng
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @farbabi

# eager - dtx
**/dtx/ @tt-nshanker
**/dtx/**/module.mk @tt-rkim @tt-nshanker

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati
# **/tensor/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati

# eager - ops (dnn)
# **/tt_dnn/ @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/op_library/conv/ @tt-nshanker @arakhmati
# **/tt_dnn/op_library/conv/**/module.mk @tt-rkim @tt-nshanker @arakhmati
# **/tt_dnn/op_library/bmm/ @mywoodstock @TT-BrianLiu @tt-aho
# **/tt_dnn/op_library/bmm/**/module.mk @tt-rkim @mywoodstock @TT-BrianLiu @tt-aho
tt_eager/tt_dnn/op_library/composite/ @muthutt
tt_eager/tt_dnn/op_library/complex/ @muthutt
tt_eager/tt_dnn/op_library/backward/ @muthutt

# eager - python api
# **/tt_lib/
**/tt_lib/csrc/ @TT-BrianLiu @tt-aho @arakhmati @mywoodstock
**/tt_lib/fallback_ops @tt-aho @arakhmati

# TTNN
ttnn/ @eyonland @arakhmati
tests/ttnn/ @eyonland @arakhmati

# models
models/ @boris-drazic @farbabi
models/conv_on_device_utils*.py @tt-nshanker
models/bert_large_performant @tt-aho @TT-BrianLiu
models/metal_BERT_large_11 @tt-aho @TT-BrianLiu
functional_*/ @eyonland @arakhmati

# docs
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @DrJessop @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @DrJessop @pgkeller @tt-rkim

# misc
tests/**/dtx/ @tt-nshanker
tests/**/*test*conv*.py @tt-nshanker
# tests/**/module.mk @tenstorrent-metal/developers
tests/python_api_testing/conv/ @tt-nshanker
tests/python_api_testing/unit_testing/fallback_ops @tt-aho @arakhmati
tests/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py @muthutt
scripts/profiler/ @muthutt @mo-tenstorrent @TT-billteng

#10163: Update files
  docs/source/ttnn/ttnn/ttnn/binary_remainder_bw.rst
  tests/ttnn/unit_tests/operations/backward/test_backward_binary_remainder.py
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward_pybind.hpp
  ttnn/ttnn/operations/binary_backward.py
Owners: @eyonland, @arakhmati

#9442: Use real weights, rms mlp and moe now all passing .99+
  models/experimental/grok/reference/model.py
  models/experimental/grok/tests/test_grok_mlp.py
  models/experimental/grok/tests/test_grok_moe.py
  models/experimental/grok/tests/test_grok_rms_norm.py
  models/experimental/grok/tt/grok_attention.py
  models/experimental/grok/tt/grok_mlp.py
  models/experimental/grok/tt/grok_moe.py
  models/experimental/grok/tt/grok_rms_norm.py
  models/experimental/grok/tt/model_config.py
Owners: @boris-drazic, @farbabi

#9442: Start of Grok-1 bringup based on Mixtral
  models/experimental/grok/README.md
  models/experimental/grok/demo/demo.py
  models/experimental/grok/demo/input_data.json
  models/experimental/grok/demo/input_data_questions.json
  models/experimental/grok/reference/config.json
  models/experimental/grok/reference/configuration_grok1.py
  models/experimental/grok/reference/demo_ref.py
  models/experimental/grok/reference/input_data.json
  models/experimental/grok/reference/input_data_questions.json
  models/experimental/grok/reference/model.py
  models/experimental/grok/reference/modeling_grok1_outputs.py
  models/experimental/grok/reference/run_ref.py
  models/experimental/grok/reference/tokenizer.py
  models/experimental/grok/scripts/op_perf_results.py
  models/experimental/grok/tests/test_dummy_weights.py
  models/experimental/grok/tests/test_grok_attention.py
  models/experimental/grok/tests/test_grok_decoder.py
  models/experimental/grok/tests/test_grok_embedding.py
  models/experimental/grok/tests/test_grok_mlp.py
  models/experimental/grok/tests/test_grok_model.py
  models/experimental/grok/tests/test_grok_moe.py
  models/experimental/grok/tests/test_grok_perf.py
  models/experimental/grok/tests/test_grok_rms_norm.py
  models/experimental/grok/tt/grok_attention.py
  models/experimental/grok/tt/grok_common.py
  models/experimental/grok/tt/grok_decoder.py
  models/experimental/grok/tt/grok_embedding.py
  models/experimental/grok/tt/grok_mlp.py
  models/experimental/grok/tt/grok_model.py
  models/experimental/grok/tt/grok_moe.py
  models/experimental/grok/tt/grok_rms_norm.py
  models/experimental/grok/tt/model_config.py
Owners: @boris-drazic, @farbabi

#9442: Use random weights, increase MLP precision
  models/experimental/grok/tests/test_grok_attention.py
  models/experimental/grok/tests/test_grok_mlp.py
  models/experimental/grok/tt/grok_attention.py
  models/experimental/grok/tt/grok_common.py
  models/experimental/grok/tt/model_config.py
Owners: @boris-drazic, @farbabi

#9442: Attention passes with .99 PCC over 10 iterations
  models/experimental/grok/rotmat.ipynb
  models/experimental/grok/tests/test_grok_attention.py
  models/experimental/grok/tests/test_grok_decoder.py
  models/experimental/grok/tests/test_grok_model.py
  models/experimental/grok/tt/grok_attention.py
  models/experimental/grok/tt/grok_common.py
  models/experimental/grok/tt/grok_model.py
  models/experimental/grok/tt/model_config.py
Owners: @boris-drazic, @farbabi

#9442: Implement attention and decoder
  models/experimental/grok/tests/test_grok_attention.py
  models/experimental/grok/tests/test_grok_decoder.py
  models/experimental/grok/tt/grok_attention.py
  models/experimental/grok/tt/grok_decoder.py
  models/experimental/grok/tt/grok_moe.py
  models/experimental/grok/tt/model_config.py
Owners: @boris-drazic, @farbabi

#9442: Rebase to main, update for API changes
  models/experimental/grok/demo/demo.py
  models/experimental/grok/tt/grok_attention.py
  models/experimental/grok/tt/grok_mlp.py
  models/experimental/grok/tt/grok_model.py
  models/experimental/grok/tt/grok_moe.py
  models/experimental/grok/tt/grok_rms_norm.py
  models/experimental/grok/tt/model_config.py
Owners: @boris-drazic, @farbabi

#9442: Debugging and max-precision updates
  models/experimental/grok/reference/model.py
  models/experimental/grok/scripts/tlog.py
  models/experimental/grok/tests/test_grok_model.py
  models/experimental/grok/tests/test_grok_perf.py
  models/experimental/grok/tt/grok_attention.py
  models/experimental/grok/tt/grok_decoder.py
  models/experimental/grok/tt/grok_mlp.py
  models/experimental/grok/tt/grok_model.py
  models/experimental/grok/tt/grok_moe.py
  models/experimental/grok/tt/model_config.py
Owners: @boris-drazic, @farbabi

#9442: Model passes 10 iterations 1 layer with .999 PCC
  models/experimental/grok/tests/test_grok_attention.py
  models/experimental/grok/tests/test_grok_model.py
  models/experimental/grok/tt/grok_model.py
Owners: @boris-drazic, @farbabi

#9442: Use dummy weights and own slack ID
  .github/workflows/t3000-unit-tests.yaml
  models/experimental/grok/tests/test_grok_attention.py
  models/experimental/grok/tests/test_grok_decoder.py
  models/experimental/grok/tests/test_grok_embedding.py
  models/experimental/grok/tests/test_grok_mlp.py
  models/experimental/grok/tests/test_grok_moe.py
  models/experimental/grok/tests/test_grok_rms_norm.py
  tests/scripts/t3000/run_t3000_unit_tests.sh
Owners: @tt-rkim, @boris-drazic, @farbabi

#9442: Add grok unit tests to CI
  .github/workflows/t3000-unit-tests.yaml
  models/experimental/grok/tests/test_grok_decoder.py
  tests/scripts/t3000/run_t3000_unit_tests.sh
Owners: @tt-rkim, @boris-drazic, @farbabi

#9442: Comment
  models/experimental/grok/tt/grok_model.py
Owners: @boris-drazic, @farbabi

#9442: Added grok copyright notices
  models/experimental/grok/reference/configuration_grok1.py
  models/experimental/grok/reference/model.py
  models/experimental/grok/reference/modeling_grok1_outputs.py
  models/experimental/grok/scripts/tlog.py
Owners: @boris-drazic, @farbabi

#8865: Add signposts for profiling create_output_tensors, lookup_program_cache, override_runtime_arguments and enque_program
  tt_eager/tt_dnn/op_library/run_operation.cpp
  ttnn/cpp/ttnn/device_operation.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/binary.hpp
Owners: @eyonland, @arakhmati

#8865: Add more signposts for profiling dispatch time
  tt_eager/tt_dnn/op_library/run_operation.cpp
  ttnn/cpp/ttnn/decorators.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/binary.hpp
Owners: @eyonland, @arakhmati

#8865: Add signposts for profiling program hash calculations
  tt_eager/tt_dnn/op_library/run_operation.cpp
  ttnn/cpp/ttnn/device_operation.hpp
Owners: @eyonland, @arakhmati

#9442: Update to changed ttnn API
  models/experimental/grok/tt/model_config.py
Owners: @boris-drazic, @farbabi

#9442: Fix sharded RMSNorm test
  models/experimental/grok/tests/test_grok_rms_norm.py
Owners: @boris-drazic, @farbabi

Change the repo name and make a few more changes requested from Raymond's review
  .github/workflows/docs-deployment.yaml
Owners: @tt-rkim

#0: Use mm for reduce sum w
  tt_eager/tt_dnn/kernels/dataflow/generate_reduce_scaler.hpp
  tt_eager/tt_dnn/op_library/reduce/kernels/compute/reduce_w.cpp
  tt_eager/tt_dnn/op_library/reduce/multi_core_h/reduce_op_multi_core_h.cpp
  tt_eager/tt_dnn/op_library/reduce/multi_core_w/reduce_op_multi_core_w.cpp
  tt_eager/tt_dnn/op_library/reduce/reduce_op.cpp
Owners: none

#0: conda/mamba envs for metal + umd
  conda/tt-metal.yml
  conda/tt-umd.yml
Owners: none

#10163: round recip output when in 16bit mode
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_recip.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_recip.h
  tt_metal/include/compute_kernel_api/eltwise_unary/recip.h
Owners: @rtawfik01

#10163: add comment for recip accuracy
  tt_metal/include/compute_kernel_api/eltwise_unary/recip.h
Owners: none

#9442: Use PCC for random weights in CI
  models/experimental/grok/tests/test_grok_moe.py
Owners: @boris-drazic, @farbabi

#10342: Start MLP refactoring based on llama 2 code
  models/common/lightweightmodule.py
  models/common/mlp.py
  models/common/modules.py
  models/common/rmsnorm.py
  models/demos/t3000/llama2_70b/tests/test_llama_mlp.py
  models/demos/t3000/mixtral8x7b/tt/mixtral_attention.py
  models/demos/t3000/mixtral8x7b/tt/mixtral_decoder.py
  models/demos/t3000/mixtral8x7b/tt/mixtral_embedding.py
  models/demos/t3000/mixtral8x7b/tt/mixtral_mlp.py
  models/demos/t3000/mixtral8x7b/tt/mixtral_model.py
  models/demos/t3000/mixtral8x7b/tt/mixtral_moe.py
Owners: @boris-drazic, @farbabi

#9746: remove all ttl permute bindings and uses and replace with ttnn
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  models/experimental/bert_tiny/tt/bert_self_attention.py
  models/experimental/bloom/tt/bloom_merge_heads.py
  models/experimental/deit/tt/deit_self_attention.py
  models/experimental/hrnet/tt/hrnet_model.py
  models/experimental/mistral/mistral_helper_funcs.py
  models/experimental/mistral/tt/mistral_attention.py
  models/experimental/nanogpt/tt/nanogpt_model.py
  models/experimental/roberta/tt/roberta_self_attention.py
  models/experimental/stable_diffusion/tt/cross_attention.py
  models/experimental/stable_diffusion/tt/transformer_2d.py
  models/experimental/swin/tt/swin_encoder.py
  models/experimental/swin/tt/swin_self_attention.py
  models/experimental/vit/tt/modeling_vit.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/experimental/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/experimental/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/experimental/tt_dnn/op_library/permute/permute_op.hpp
  ttnn/cpp/ttnn/experimental/tt_dnn/op_library/transpose/transpose_op.cpp
  ttnn/cpp/ttnn/experimental/tt_lib/csrc/tt_lib_bindings_tensor_dm_ops.cpp
  ttnn/cpp/ttnn/op_library/to_layout/to_layout_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/permute/permute.hpp
  ttnn/cpp/ttnn/operations/data_movement/permute/permute_impl.cpp
  ttnn/cpp/ttnn/operations/data_movement/permute/permute_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
Owners: @eyonland, @arakhmati, @boris-drazic, @farbabi

#9748: Migrate untilize ops to ttnn
  models/demos/resnet/tt/metalResnetBlock50.py
  models/utility_functions.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/op_library/to_layout/to_layout_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/data_movement_pybind.hpp
  ttnn/cpp/ttnn/operations/data_movement/tilize_with_val_padding/tilize_with_val_padding_pybind.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/compute/pack_untilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/compute/untilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/dataflow/writer_unary_stick_layout_split_rows_interleaved.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/untilize_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/untilize_op.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/untilize_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/untilize.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/untilize_pybind.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_halo_v2/device/kernels/compute/pack_untilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_halo_v2/device/kernels/compute/untilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_halo_v2/device/kernels/dataflow/halo_gather.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_halo_v2/device/untilize_with_halo_v2_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_halo_v2/device/untilize_with_halo_v2_op.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_halo_v2/device/untilize_with_halo_v2_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_halo_v2/untilize_with_halo_v2.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_halo_v2/untilize_with_halo_v2_pybind.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/kernels/compute/pack_untilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/kernels/compute/untilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/kernels/dataflow/writer_unary_stick_layout_split_rows_multicore.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/kernels/dataflow/writer_unary_unpad_batch_rows_sharded.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/kernels/dataflow/writer_unary_unpad_dims_split_rows.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/untilize_with_unpadding_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/untilize_with_unpadding_op.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/untilize_with_unpadding_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/untilize_with_unpadding.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/untilize_with_unpadding_pybind.hpp
Owners: @boris-drazic, @farbabi, @eyonland, @arakhmati

#0: fix to_layout
  ttnn/cpp/ttnn/op_library/to_layout/to_layout_op.cpp
Owners: @eyonland, @arakhmati

#0: to layout fixes
  ttnn/cpp/ttnn/op_library/to_layout/to_layout_op.cpp
Owners: @eyonland, @arakhmati

#8865: Add counting of kernel launches for composite ops
  tests/ttnn/profiling/profile_host_overhead.py
  tests/ttnn/profiling/profile_host_overhead_with_tracy.py
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_height_and_width_multi_core_program_factory.cpp
  ttnn/tracy/__init__.py
Owners: @eyonland, @arakhmati

#10010: VIT model on WH
  models/experimental/functional_vit/tt/ttnn_optimized_vit_highres_wh.py
  models/experimental/functional_vit/tt/ttnn_optimized_vit_wh.py
  tests/ttnn/integration_tests/vit/test_ttnn_optimized_vit_highres_wh.py
  tests/ttnn/integration_tests/vit/test_ttnn_optimized_vit_wh.py
Owners: @eyonland, @arakhmati

#9442: Check CI issue
  models/experimental/grok/tests/test_grok_mlp.py
  tests/scripts/t3000/run_t3000_unit_tests.sh
Owners: @boris-drazic, @farbabi

#0: added graph tracking
  tt_metal/graph_tracking.hpp
  tt_metal/impl/buffers/circular_buffer_types.hpp
  tt_metal/impl/program/program.cpp
  tt_metal/tt_metal.cpp
  ttnn/cpp/ttnn/decorators.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
Owners: @TT-billteng, @tarafdarTT, @eyonland, @arakhmati

#9442: Increase CI time limits to find true duration
  models/experimental/grok/tests/test_grok_decoder.py
  models/experimental/grok/tests/test_grok_moe.py
Owners: @boris-drazic, @farbabi

#8313: Watcher dump tool to show CQ status from hugepages
  tests/scripts/run_tools_tests.sh
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
  tests/tt_metal/tt_metal/unit_tests_common/common/common_fixture.hpp
  tests/tt_metal/tt_metal/unit_tests_common/common/dprint_fixture.hpp
  tests/tt_metal/tt_metal/unit_tests_fast_dispatch_single_chip_multi_queue/common/command_queue_fixture.hpp
  tt_metal/host_api.hpp
  tt_metal/impl/device/device.cpp
  tt_metal/impl/dispatch/command_queue.cpp
  tt_metal/impl/dispatch/command_queue_interface.hpp
  tt_metal/impl/dispatch/cq_commands.hpp
  tt_metal/impl/dispatch/device_command.hpp
  tt_metal/impl/dispatch/dispatch_address_map.hpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
  tt_metal/tools/watcher_dump/watcher_dump.cpp
  tt_metal/tt_metal.cpp
Owners: @abhullar-tt, @TT-billteng, @davorchap, @DrJessop

#10190: Fix watcher dump tool w/ watcher enabled
  tt_metal/tools/watcher_dump/watcher_dump.cpp
Owners: none

#0: wip
  tests/tt_metal/tt_metal/unit_tests/allocator/test_l1_banking_allocator.cpp
  tests/tt_metal/tt_metal/unit_tests_common/common/dprint_fixture.hpp
  tt_metal/common/core_descriptor.cpp
  tt_metal/common/core_descriptor.hpp
  tt_metal/impl/device/device.cpp
  tt_metal/impl/device/device.hpp
  tt_metal/impl/dispatch/dispatch_core_manager.hpp
  ttnn/cpp/ttnn/reports.hpp
Owners: @TT-billteng, @DrJessop, @davorchap, @eyonland, @arakhmati

#0: PR feedback
  tt_metal/impl/dispatch/command_queue_interface.hpp
  tt_metal/impl/dispatch/debug_tools.cpp
  tt_metal/impl/dispatch/debug_tools.hpp
  tt_metal/impl/dispatch/dispatch_address_map.hpp
  tt_metal/tools/watcher_dump/watcher_dump.cpp
Owners: @DrJessop, @davorchap

- Add a workflow wrapper for docs release
  .github/workflows/docs-deployment-wrapper.yaml
  .github/workflows/docs-deployment.yaml
Owners: @tt-rkim

#0: wip
  tt_metal/common/core_descriptor.hpp
  tt_metal/impl/device/device.cpp
  tt_metal/impl/dispatch/dispatch_core_manager.hpp
  tt_metal/tools/profiler/tt_metal_profiler.cpp
Owners: @TT-billteng, @DrJessop, @davorchap
