Repository JushBJJ/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @TT-billteng, @pgkeller, @aliuTT, @tt-aho, @TT-BrianLiu, @abhullar-tt, @davorchap, @tarafdarTT, @DrJessop, @rtawfik01, @muthutt, @mywoodstock, @mo-tenstorrent, @farbabi, @tt-nshanker, @arakhmati, @eyonland, @boris-drazic

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

third_party/ @tt-rkim @TT-billteng
sfpi/ @pgkeller

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim
requirements*.txt @tt-rkim
setup_hugepages.py @tt-rkim

Makefile @tt-rkim
/module.mk @tt-rkim
tt_metal/module.mk @tt-rkim
tt_metal/common/module.mk @tt-rkim
tt_eager/module.mk @tt-rkim

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu

# metal - base
# tt_metal/tt_metal.cpp @abhullar-tt @TT-billteng
tt_metal/host_api.hpp @abhullar-tt @TT-billteng @davorchap
tt_metal/impl/device/ @TT-billteng
tt_metal/impl/buffers/ @TT-billteng @tarafdarTT
tt_metal/impl/program/ @TT-billteng
# tt_metal/impl/ @abhullar-tt @TT-billteng
# tt_metal/impl/**/module.mk @tt-rkim @abhullar-tt @TT-billteng

# metal - dispatch
tt_metal/impl/dispatch/ @DrJessop @davorchap
tt_metal/impl/dispatch/**/module.mk @DrJessop @davorchap @tt-rkim
tt_metal/kernels/dataflow/dispatch/ @DrJessop @davorchap @tarafdarTT
docs/source/frameworks/tt_dispatch.rst @DrJessop @davorchap
docs/source/tt_metal/apis/host_apis/ @TT-billteng

# metal - fw, llks, risc-v
# tt_metal/hw/ckernels/ @davorchap
# tt_metal/hw/ckernels/**/module.mk @tt-rkim @davorchap
# tt_metal/hw/ckernels/**/Makefile @tt-rkim @davorchap
# tt_metal/hw/firmware/ @davorchap @pgkeller @DrJessop
tt_metal/hw/ckernels/ @rtawfik01
tt_metal/hw/firmware/**/module.mk @tt-rkim
tt_metal/hw/firmware/**/Makefile @tt-rkim
# tt_metal/hw/meta/ @davorchap @pgkeller @DrJessop @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @muthutt @mywoodstock
tt_metal/include/dataflow_kernel_api.h @davorchap @DrJessop @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @DrJessop @mywoodstock

# metal - profiler
# tt_metal/**/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/**/profiler/**/module.mk @tt-rkim @mo-tenstorrent @TT-billteng
# tests/tt_metal/tools/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent @TT-billteng
# docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent @TT-billteng
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @farbabi

# eager - dtx
**/dtx/ @tt-nshanker
**/dtx/**/module.mk @tt-rkim @tt-nshanker

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati
# **/tensor/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati

# eager - ops (dnn)
# **/tt_dnn/ @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/op_library/conv/ @tt-nshanker @arakhmati
# **/tt_dnn/op_library/conv/**/module.mk @tt-rkim @tt-nshanker @arakhmati
# **/tt_dnn/op_library/bmm/ @mywoodstock @TT-BrianLiu @tt-aho
# **/tt_dnn/op_library/bmm/**/module.mk @tt-rkim @mywoodstock @TT-BrianLiu @tt-aho
tt_eager/tt_dnn/op_library/composite/ @muthutt
tt_eager/tt_dnn/op_library/complex/ @muthutt
tt_eager/tt_dnn/op_library/backward/ @muthutt

# eager - python api
# **/tt_lib/
**/tt_lib/csrc/ @TT-BrianLiu @tt-aho @arakhmati @mywoodstock
**/tt_lib/fallback_ops @tt-aho @arakhmati

# TTNN
ttnn/ @eyonland @arakhmati
tests/ttnn/ @eyonland @arakhmati

# models
models/ @boris-drazic @farbabi
models/conv_on_device_utils*.py @tt-nshanker
models/bert_large_performant @tt-aho @TT-BrianLiu
models/metal_BERT_large_11 @tt-aho @TT-BrianLiu
functional_*/ @eyonland @arakhmati

# docs
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @DrJessop @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @DrJessop @pgkeller @tt-rkim

# misc
tests/**/dtx/ @tt-nshanker
tests/**/*test*conv*.py @tt-nshanker
# tests/**/module.mk @tenstorrent-metal/developers
tests/python_api_testing/conv/ @tt-nshanker
tests/python_api_testing/unit_testing/fallback_ops @tt-aho @arakhmati
tests/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py @muthutt
scripts/profiler/ @muthutt @mo-tenstorrent @TT-billteng

#10692: Updated llama3.1-8b default cache folders to the correct CI path
  models/demos/wormhole/llama31_8b/tt/model_config.py
Owners: @boris-drazic, @farbabi

#0: [REMOVE COMMIT] Run llama3.1-8b demo to generate cache files in CI machine
  tests/scripts/single_card/run_demos_single_card_wh_common.sh
Owners: none

#0: test_linear batch=88
  tests/ttnn/unit_tests/operations/test_linear.py
Owners: @eyonland, @arakhmati

#0: test_linear: lower a couple of max batch sizes to 4
  tests/ttnn/unit_tests/operations/test_linear.py
Owners: @eyonland, @arakhmati

#10692: add unit and perf llama 3.1 8b tests
  tests/scripts/run_performance.sh
  tests/scripts/run_python_model_tests.sh
Owners: @farbabi

#0: review comments
  models/demos/t3000/falcon40b/tests/test_perf_falcon.py
  tests/device_perf_tests/stable_diffusion/test_perf_stable_diffusion.py
  tests/scripts/run_profiler_regressions.sh
  tests/tt_metal/tt_metal/perf_microbenchmark/1_compute_mm/test_compute_mm.cpp
  tests/ttnn/profiling/matmul_stagger/test_matmul_stagger.py
  tests/ttnn/profiling/matmul_stagger/test_run_matmul_with_and_without_stagger.py
  tests/ttnn/unit_tests/operations/test_experimental.py
  tt_metal/common/constants.hpp
  ttnn/cpp/ttnn/operations/conv2d/conv2d.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.hpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_1d_optimized/bmm_op_multi_core_reuse_mcast_1d_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_2d_optimized/bmm_op_multi_core_reuse_mcast_2d_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_dram_sharded_optimized/bmm_op_multi_core_reuse_dram_sharded_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_optimized/bmm_op_multi_core_reuse_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/matmul_pybind.hpp
Owners: @boris-drazic, @farbabi, @mo-tenstorrent, @tt-rkim, @eyonland, @arakhmati

#10692: Update perf tests
  models/demos/wormhole/llama31_8b/tests/test_llama_perf.py
Owners: @boris-drazic, @farbabi

#0: add back t3k unit tests
  models/demos/t3000/llama2_70b/tests/unit_tests/test_attn_sdpa.py
  models/demos/t3000/llama2_70b/tests/unit_tests/test_reshape_rotary.py
  models/experimental/llama2_70b/tests/perf/test_bmm.py
  models/experimental/llama2_70b/tests/unit_tests/test_attn_sdpa.py
  models/experimental/llama2_70b/tests/unit_tests/test_reshape_rotary.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
Owners: @boris-drazic, @farbabi

#0: move ttnn experimental transpose to ttnn transpose
  models/demos/falcon7b_common/tt/falcon_attention.py
  models/demos/t3000/falcon40b/tt/falcon_attention.py
Owners: @boris-drazic, @farbabi

#10692: Fix env var names, add unit test symlinks
  models/demos/wormhole/llama31_8b/tt/model_config.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/llama31_8b/tests/test_llama_attention.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/llama31_8b/tests/test_llama_attention_prefill.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/llama31_8b/tests/test_llama_decoder.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/llama31_8b/tests/test_llama_decoder_prefill.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/llama31_8b/tests/test_llama_mlp.py
  tests/nightly/wh_b0_only_eth/models/demos/wormhole/llama31_8b/tests/test_llama_rms_norm.py
Owners: @boris-drazic, @farbabi

#0: [DISCARD COMMIT] removed other perplexity tests
  tests/scripts/t3000/run_t3000_perplexity_tests.sh
Owners: none

#10736: Add Mixtral perplexity and top-k validation tests to CI pipeline
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_perplexity.py
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_topk.py
  tests/scripts/t3000/run_t3000_perplexity_tests.sh
Owners: @boris-drazic, @farbabi

#10736: Update Mixtral perplexity expected numbers
  models/demos/t3000/mixtral8x7b/tests/test_mixtral_perplexity.py
Owners: @boris-drazic, @farbabi

#10736: Updated mixtral topk test time
  tests/scripts/t3000/run_t3000_perplexity_tests.sh
Owners: none

#10783: Use kernel path in computing kernel hash rather than kernel file name
  tt_metal/impl/kernels/kernel.cpp
Owners: none

#8764: Correct reset instructions for single-card vs. T3000 in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @tt-rkim

#8764: Put tutorials test back into fast runtime mode off section and log WH_ARCH_YAML being unset
  tests/ttnn/unit_tests/test_tutorials.py
Owners: @eyonland, @arakhmati

#8764: Add specific environment variables to use for each install method so that it's clear what to use if you're using src/wheel and regular API/models as well
  INSTALLING.md
Owners: none

#8764: Note that you must set these environment variables every time for source build
  INSTALLING.md
Owners: none

Revert "#8764: To revert later after review - stash away new installation method for wheel"
  INSTALLING.md
Owners: none

#8764: To revert later after review - stash away new installation method for wheel
  INSTALLING.md
Owners: none

#8764: Unset WH_ARCH_YAML for tutorials with a fixture and move the tutorials test to the non-fast runtime group for ttnn post commit
  tests/ttnn/unit_tests/test_tutorials.py
Owners: @eyonland, @arakhmati

#8764: Update tt-topology requirement to 1.1.3
  INSTALLING.md
Owners: none

#8764: Add note about models should be used from source
  INSTALLING.md
Owners: none

#0: move upsample from data_movement to pool.
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/data_movement.hpp
  ttnn/cpp/ttnn/operations/data_movement/data_movement_pybind.hpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/reader_upsample_unary_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/writer_upsample_multi_core_sharded.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/writer_upsample_unary_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/upsample_op.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/upsample_op.hpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/upsample_program_factory_multicore.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/upsample_program_factory_singlecore.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/upsample.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/upsample.hpp
  ttnn/cpp/ttnn/operations/pool/upsample/upsample_pybind.hpp
Owners: @eyonland, @arakhmati

#5383: Add Falcon7b-decode device perf test
  models/demos/falcon7b_common/tests/run_falcon_end_to_end.py
  models/demos/falcon7b_common/tests/test_falcon_device_perf.py
Owners: @boris-drazic, @farbabi

#9755: move references to ttlib concat in the C++ side of the code base
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/complex/complex_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/operations/data_movement/repeat_interleave/repeat_interleave.cpp
  ttnn/cpp/ttnn/operations/data_movement/repeat_interleave/repeat_interleave.hpp
  ttnn/cpp/ttnn/operations/experimental/reduction/argmax/argmax.cpp
Owners: @eyonland, @arakhmati

#9755: centralize data movement C++ implementation to the data_movement/concat folder
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/optimizer/optimizer_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_dm_ops.cpp
  ttnn/cpp/ttnn/operations/data_movement.hpp
  ttnn/cpp/ttnn/operations/data_movement/concat/concat.hpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.hpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_concat_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_concat_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_height_sharded_width_concat.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_height_sharded_width_concat_two_tensors.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/writer_height_s2s_width_concat.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/writer_s2i_width.cpp
Owners: @eyonland, @arakhmati

#9755: remove ttlib python references to concat and replace them with the ttnn version
  models/demos/falcon7b_common/tt/falcon_lm_head.py
  models/demos/falcon7b_common/tt/falcon_mlp.py
  models/demos/t3000/falcon40b/tests/unit_tests/distributed_layernorm/test_distributed_layernorm_dlnp1.py
  models/experimental/functional_mistral/tt/ttnn_functional_attention.py
  models/experimental/functional_unet/tt/unet_shallow_ttnn.py
  models/experimental/functional_vit/tt/ttnn_optimized_interleaved_vit.py
  models/experimental/functional_vit/tt/ttnn_optimized_sharded_vit.py
  models/experimental/functional_vit/tt/ttnn_optimized_sharded_vit_backup.py
  models/experimental/llama/tt/llama_attention.py
  models/experimental/mistral/tt/mistral_attention.py
  models/experimental/roberta/tt/roberta_self_attention.py
  models/experimental/stable_diffusion/tt/experimental_ops.py
  models/experimental/swin/tt/swin_patch_merging.py
  models/experimental/vgg/demo/gs_demo.py
  models/experimental/vovnet/tt/sequential_append_list.py
  models/experimental/whisper/tt/whisper_attention.py
  models/experimental/yolov3/tt/yolov3_concat.py
  models/experimental/yolov5/tt/yolov5_c3.py
  models/experimental/yolov5/tt/yolov5_concat.py
  models/experimental/yolov5/tt/yolov5_sppf.py
  models/utility_functions.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_concat.py
Owners: @boris-drazic, @farbabi, @eyonland, @arakhmati

#10797: Skip failing bloom tests
  tests/ttnn/integration_tests/bloom/test_bloom_for_causal_lm.py
  tests/ttnn/integration_tests/bloom/test_bloom_for_question_answering.py
  tests/ttnn/integration_tests/bloom/test_demo.py
  tests/ttnn/integration_tests/bloom/test_ttnn_optimized_functional_bloom.py
Owners: @eyonland, @arakhmati

#10750: DO NOT MERGE - deliberately cause python env cache miss
  tt_metal/python_env/requirements-dev.txt
Owners: @tt-rkim

#10750: Try cache miss again
  tt_metal/python_env/requirements-dev.txt
Owners: @tt-rkim

#10750: Download specific artifact to speed up iteration and extract the zip directly to test out what's going on with python env cache
  .github/workflows/docs-latest-public-wrapper.yaml
  .github/workflows/docs-latest-public.yaml
  .github/workflows/ttnn-post-commit-wrapper.yaml
  .github/workflows/ttnn-post-commit.yaml
  tt_metal/python_env/requirements-dev.txt
Owners: @tt-rkim

#10750: Use normal download artifact but specify working run id for ttnn post commit
  .github/workflows/ttnn-post-commit.yaml
Owners: @tt-rkim

#10750: Add ls -hal
  scripts/check_stuff.sh
Owners: none

#10750: Check pip version
  scripts/check_stuff.sh
Owners: none

#10750: Check if we even have egg links at all
  scripts/check_stuff.sh
Owners: none

#10750: Try pip 22.3.1
  create_venv.sh
Owners: none

#10750: Check where the pips are
  scripts/check_stuff.sh
Owners: none

#10750: Try pip install -e . again in the test steps
  .github/workflows/ttnn-post-commit.yaml
Owners: @tt-rkim
