Repository JushBJJ/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @TT-billteng, @pgkeller, @aliuTT, @tt-aho, @TT-BrianLiu, @abhullar-tt, @davorchap, @tarafdarTT, @DrJessop, @rtawfik01, @muthutt, @mywoodstock, @mo-tenstorrent, @farbabi, @tt-nshanker, @arakhmati, @eyonland, @boris-drazic

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

third_party/ @tt-rkim @TT-billteng
sfpi/ @pgkeller

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim
requirements*.txt @tt-rkim
setup_hugepages.py @tt-rkim

Makefile @tt-rkim
/module.mk @tt-rkim
tt_metal/module.mk @tt-rkim
tt_metal/common/module.mk @tt-rkim
tt_eager/module.mk @tt-rkim

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu

# metal - base
# tt_metal/tt_metal.cpp @abhullar-tt @TT-billteng
tt_metal/host_api.hpp @abhullar-tt @TT-billteng @davorchap
tt_metal/impl/device/ @TT-billteng
tt_metal/impl/buffers/ @TT-billteng @tarafdarTT
tt_metal/impl/program/ @TT-billteng
# tt_metal/impl/ @abhullar-tt @TT-billteng
# tt_metal/impl/**/module.mk @tt-rkim @abhullar-tt @TT-billteng

# metal - dispatch
tt_metal/impl/dispatch/ @DrJessop @davorchap
tt_metal/impl/dispatch/**/module.mk @DrJessop @davorchap @tt-rkim
tt_metal/kernels/dataflow/dispatch/ @DrJessop @davorchap @tarafdarTT
docs/source/frameworks/tt_dispatch.rst @DrJessop @davorchap
docs/source/tt_metal/apis/host_apis/ @TT-billteng

# metal - fw, llks, risc-v
# tt_metal/hw/ckernels/ @davorchap
# tt_metal/hw/ckernels/**/module.mk @tt-rkim @davorchap
# tt_metal/hw/ckernels/**/Makefile @tt-rkim @davorchap
# tt_metal/hw/firmware/ @davorchap @pgkeller @DrJessop
tt_metal/hw/ckernels/ @rtawfik01
tt_metal/hw/firmware/**/module.mk @tt-rkim
tt_metal/hw/firmware/**/Makefile @tt-rkim
# tt_metal/hw/meta/ @davorchap @pgkeller @DrJessop @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @muthutt @mywoodstock
tt_metal/include/dataflow_kernel_api.h @davorchap @DrJessop @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @DrJessop @mywoodstock

# metal - profiler
# tt_metal/**/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/**/profiler/**/module.mk @tt-rkim @mo-tenstorrent @TT-billteng
# tests/tt_metal/tools/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent @TT-billteng
# docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent @TT-billteng
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @farbabi

# eager - dtx
**/dtx/ @tt-nshanker
**/dtx/**/module.mk @tt-rkim @tt-nshanker

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati
# **/tensor/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati

# eager - ops (dnn)
# **/tt_dnn/ @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/op_library/conv/ @tt-nshanker @arakhmati
# **/tt_dnn/op_library/conv/**/module.mk @tt-rkim @tt-nshanker @arakhmati
# **/tt_dnn/op_library/bmm/ @mywoodstock @TT-BrianLiu @tt-aho
# **/tt_dnn/op_library/bmm/**/module.mk @tt-rkim @mywoodstock @TT-BrianLiu @tt-aho
tt_eager/tt_dnn/op_library/composite/ @muthutt
tt_eager/tt_dnn/op_library/complex/ @muthutt
tt_eager/tt_dnn/op_library/backward/ @muthutt

# eager - python api
# **/tt_lib/
**/tt_lib/csrc/ @TT-BrianLiu @tt-aho @arakhmati @mywoodstock
**/tt_lib/fallback_ops @tt-aho @arakhmati

# TTNN
ttnn/ @eyonland @arakhmati
tests/ttnn/ @eyonland @arakhmati

# models
models/ @boris-drazic @farbabi
models/conv_on_device_utils*.py @tt-nshanker
models/bert_large_performant @tt-aho @TT-BrianLiu
models/metal_BERT_large_11 @tt-aho @TT-BrianLiu
functional_*/ @eyonland @arakhmati

# docs
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @DrJessop @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @DrJessop @pgkeller @tt-rkim

# misc
tests/**/dtx/ @tt-nshanker
tests/**/*test*conv*.py @tt-nshanker
# tests/**/module.mk @tenstorrent-metal/developers
tests/python_api_testing/conv/ @tt-nshanker
tests/python_api_testing/unit_testing/fallback_ops @tt-aho @arakhmati
tests/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py @muthutt
scripts/profiler/ @muthutt @mo-tenstorrent @TT-billteng

#6232: Embedding backward op
  .gitignore
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_embedding.py
  tt_eager/tt_dnn/op_library/CMakeLists.txt
  tt_eager/tt_dnn/op_library/embeddings/embeddings_bw_op.cpp
  tt_eager/tt_dnn/op_library/embeddings/embeddings_op.hpp
  tt_eager/tt_dnn/op_library/embeddings/kernels/dataflow/reader_embeddings_bw.cpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_backward_ops.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.hpp
  ttnn/ttnn/__init__.py
  ttnn/ttnn/operations/binary_backward.py
Owners: @TT-BrianLiu, @tt-aho, @arakhmati, @mywoodstock, @eyonland

#0: Fix branching bug in softplus kernel
  tests/ttnn/unit_tests/operations/test_activation.py
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_softplus.h
Owners: @eyonland, @arakhmati, @rtawfik01

#0: adding debug prints in pcie write test
  tests/tt_metal/tt_metal/test_kernels/dataflow/unit_tests/command_queue/pcie_write_16b.cpp
Owners: none

#9814: Enable static tlb support for tensix cores on BH
  tt_metal/llrt/tlb_config.cpp
  tt_metal/llrt/tt_cluster.cpp
Owners: none

#0: untested dram workaround - reduce bh bank size to 2GB
  tt_metal/soc_descriptors/blackhole_140_arch.yaml
Owners: none

#0: segformer sub-modules with new conv
  models/experimental/functional_segformer/reference/segformer_dwconv.py
  models/experimental/functional_segformer/reference/segformer_overlap_patch_embeddings.py
  models/experimental/functional_segformer/tt/ttnn_segformer_dwconv.py
  models/experimental/functional_segformer/tt/ttnn_segformer_overlap_patch_embeddings.py
  tests/ttnn/integration_tests/segformer/test_segformer_dwconv.py
  tests/ttnn/integration_tests/segformer/test_segformer_overlap_path_embeddings.py
  tests/ttnn/unit_tests/operations/test_new_conv2d.py
Owners: @eyonland, @arakhmati, @tt-nshanker

#9813: Handle pcie noc encoding needing to set 60th mid of addr
  tests/tt_metal/tt_metal/perf_microbenchmark/3_pcie_transfer/kernels/pull_from_pcie.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/unit_tests/command_queue/pcie_write_16b.cpp
  tt_metal/hw/inc/blackhole/noc/noc_parameters.h
  tt_metal/hw/inc/blackhole/noc_nonblocking_api.h
  tt_metal/hw/inc/dataflow_api.h
  tt_metal/hw/inc/dataflow_internal.h
  tt_metal/hw/inc/debug/sanitize_noc.h
  tt_metal/hw/inc/grayskull/noc/noc_parameters.h
  tt_metal/hw/inc/grayskull/noc_nonblocking_api.h
  tt_metal/hw/inc/wormhole/noc/noc_parameters.h
  tt_metal/hw/inc/wormhole/noc_nonblocking_api.h
  tt_metal/impl/debug/watcher_server.cpp
  tt_metal/impl/dispatch/kernels/cq_common.hpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
  tt_metal/llrt/tt_cluster.cpp
Owners: @DrJessop, @davorchap

#0: add cb alignment fix that was missed in rebase
  tt_metal/impl/dispatch/command_queue.cpp
Owners: @DrJessop, @davorchap

#9817: Scaffolding test for reshuffling LLK
  tests/tt_eager/CMakeLists.txt
  tests/tt_eager/ops/test_embedding_bw.cpp
  tt_eager/tt_dnn/op_library/CMakeLists.txt
  tt_eager/tt_dnn/op_library/embeddings/embeddings_bw_op.cpp
  tt_eager/tt_dnn/op_library/embeddings/embeddings_op.hpp
  tt_eager/tt_dnn/op_library/embeddings/kernels/compute/reshuffle.cpp
  tt_eager/tt_dnn/op_library/embeddings/kernels/dataflow/reader_embeddings_bw.cpp
  tt_eager/tt_dnn/op_library/embeddings/kernels/dataflow/writer_embeddings_bw.cpp
  tt_eager/tt_numpy/functions.hpp
Owners: none

#5424: Delegated sfpu reciprocal calls to wh_b0 submodule functions
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_recip.h
Owners: @rtawfik01

#5424: Delegated sfpu reciprocal calls to gs submodule functions
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_recip.h
Owners: @rtawfik01

#0: add stagger and hang repros
  models/experimental/falcon_7b/tests/test_reproduce_hang_matmul.py
  tests/didt/test_sharded_ff1.py
  tests/tt_metal/tt_metal/perf_microbenchmark/1_compute_mm/kernels/bmm_large_block_zm_fused_bias_activation_copy.cpp
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_io/llk_io_unpack.h
  tt_metal/hw/firmware/src/trisck.cc
  tt_metal/include/compute_kernel_api/matmul.h
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_1d_optimized/bmm_op_multi_core_reuse_mcast_1d_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_2d_optimized/bmm_op_multi_core_reuse_mcast_2d_optimized.cpp
Owners: @boris-drazic, @farbabi, @rtawfik01, @eyonland, @arakhmati

#0: Add pcc determinism check on every 100th iteration
  tests/didt/test_sharded_ff1.py
Owners: none

#0: fixes for didt test
  tests/didt/test_sharded_ff1.py
  tt_eager/tt_dnn/op_library/compute_kernel_config.hpp
  tt_metal/include/compute_kernel_api/matmul.h
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_2d_optimized/bmm_op_multi_core_reuse_mcast_2d_optimized.cpp
Owners: @eyonland, @arakhmati

#0: prefetch/dispatch updates
  tests/ttnn/unit_tests/test_single_device_trace.py
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Owners: @eyonland, @arakhmati, @DrJessop, @davorchap

#0: Rebase the tracy submodule
  cmake/tracy.cmake
  tt_metal/tools/profiler/op_profiler.hpp
Owners: none

#0: Clean up t3k runs-on tags to minimum
  .github/workflows/t3000-demo-tests.yaml
  .github/workflows/t3000-frequent-tests.yaml
  .github/workflows/t3000-model-perf-tests.yaml
  .github/workflows/t3000-profiler-tests.yaml
  .github/workflows/t3000-unit-tests.yaml
Owners: @tt-rkim

#10163: Add backward support for fmod op
  docs/source/ttnn/ttnn/api.rst
  docs/source/ttnn/ttnn/ttnn/fmod_bw.rst
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_fmod.py
  tests/ttnn/unit_tests/operations/backward/test_backward_binary_fmod.py
  tests/ttnn/unit_tests/operations/test_backward.py
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.hpp
  ttnn/ttnn/operations/binary_backward.py
Owners: @eyonland, @arakhmati

#10163: Update files
  docs/source/ttnn/ttnn/api.rst
  docs/source/ttnn/ttnn/ttnn/binary_fmod_bw.rst
  docs/source/ttnn/ttnn/ttnn/fmod_bw.rst
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_fmod.py
  tests/ttnn/unit_tests/operations/test_backward.py
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward_pybind.hpp
  ttnn/ttnn/operations/binary_backward.py
Owners: @eyonland, @arakhmati

#0: commented out failing t3k tests
  tests/scripts/t3000/run_t3000_demo_tests.sh
  tests/scripts/t3000/run_t3000_frequent_tests.sh
  tests/scripts/t3000/run_t3000_model_perf_tests.sh
  tests/scripts/t3000/run_t3000_unit_tests.sh
Owners: none

#10337: reduce_tile bug test code
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_softmax.py
  tt_eager/tt_dnn/op_library/moreh_helper_functions.cpp
  tt_eager/tt_dnn/op_library/moreh_helper_functions.hpp
  tt_eager/tt_dnn/op_library/moreh_softmax/kernels/moreh_softmax_w.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax/kernels/reader_moreh_softmax_w.cpp
  tt_eager/tt_dnn/op_library/moreh_softmax/softmax_w_small/softmax_w_small.cpp
Owners: none

#10337: simplify test code
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_softmax.py
Owners: none

#0: vcs simulator init setup
  CMakeLists.txt
  cmake/umd_device.cmake
  tt_metal/common/base.hpp
  tt_metal/common/test_common.hpp
  tt_metal/llrt/tt_cluster.cpp
Owners: none

New docs workflow to publish to the centralized doc site
  .github/workflows/docs-deployment.yaml
  .github/workflows/package-and-release.yaml
Owners: @tt-rkim

#0: env var to build simulator, bring in NNG+FBB, detect conda/mamba env
  CMakeLists.txt
  cmake/dependencies.cmake
  cmake/umd_device.cmake
  tt_metal/llrt/tt_cluster.cpp
Owners: none

#0: Extend SD timeout to 900s
  tests/scripts/single_card/run_demos_single_card_n150_tests.sh
Owners: none

#0: Extend timeout to 900s for everything
  pytest.ini
Owners: none

#10254: Enable preserve_fp32_precision flag in moreh_sum op
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sum.py
  tt_eager/tt_dnn/op_library/moreh_helper_functions.cpp
  tt_eager/tt_dnn/op_library/moreh_helper_functions.hpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_h_impl/moreh_sum_h_impl.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc_impl/kernels/moreh_sum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc_impl/kernels/moreh_sum_nc_gs.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc_impl/kernels/reader_moreh_sum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc_impl/moreh_sum_nc_impl.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_w_impl/moreh_sum_w_impl.cpp
Owners: none

#10033: Add forward support for gcd
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/op_map.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_gcd.py
  tests/tt_eager/python_api_testing/sweep_tests/pytorch_ops.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tt_eager/tt_dnn/op_library/composite/composite_ops.cpp
  tt_eager/tt_dnn/op_library/composite/composite_ops.hpp
  tt_eager/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @muthutt, @TT-BrianLiu, @tt-aho, @mywoodstock

TTNN and Metalium docs deployment to the centralized doc site
  .github/workflows/docs-deployment.yaml
  .github/workflows/package-and-release.yaml
Owners: @tt-rkim

#10039: Add ttnn support for VoVNet model - WIP
  models/experimental/functional_vovnet/tests/test_ttnn_functional_vovnet.py
  models/experimental/functional_vovnet/tt/ttnn_functional_vovnet.py
Owners: @eyonland, @arakhmati

#0: test t3k VMs
  .github/workflows/t3000-frequent-tests.yaml
Owners: @tt-rkim

#0: add loguru to requirements
  tt_metal/python_env/requirements-dev.txt
Owners: @tt-rkim

#0: update scripts to use 22.04, REVERT/FIX THIS LATER
  dockerfile/ubuntu-22.04-amd64.Dockerfile
  scripts/docker/build_docker_image.sh
  scripts/docker/run_docker_cmd.sh
  scripts/docker/run_docker_func.sh
Owners: none

#0: pin numpy version
  tt_metal/python_env/requirements-dev.txt
Owners: @tt-rkim

#0: ubuntu 22.04 docker image
  dockerfile/ubuntu-22.04-amd64.Dockerfile
  scripts/docker/requirements-22.04.txt
Owners: @tt-rkim

#0: pin loguru to 0.6
  tt_metal/python_env/requirements-dev.txt
Owners: @tt-rkim

#0: add gcc-12 and python 3.11 and make them the default when invoking g++ and python3 respectively
  dockerfile/ubuntu-22.04-amd64.Dockerfile
  scripts/docker/requirements-22.04.txt
Owners: @tt-rkim

#0: move python dep install to the bottom of dockerfile to minimize docker building time if it changes
  dockerfile/ubuntu-22.04-amd64.Dockerfile
Owners: none

#10163: Add backward support for remainder op
  docs/source/ttnn/ttnn/api.rst
  tests/tt_eager/python_api_testing/unit_testing/backward_ops/test_backward_remainder.py
  tests/ttnn/unit_tests/operations/test_backward.py
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.hpp
  ttnn/ttnn/operations/binary_backward.py
Owners: @eyonland, @arakhmati
