Repository JushBJJ/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @ttmchiou, @davorchap, @TT-billteng, @vtangTT, @mo-tenstorrent, @aliuTT, @tt-aho, @TT-BrianLiu, @abhullar-tt, @pgkeller, @tt-asaigal, @ubcheema, @tarafdarTT, @rtawfik01, @rdjogoTT, @ttmtrajkovic, @mywoodstock, @SeanNijjar, @arakhmati, @eyonland, @cfjchu, @xanderchin, @razorback3, @dongjin-na, @ayerofieiev-tt, @dmakoviichuk-tt, @bbradelTT, @yugaoTT, @uaydonat, @sankarmanoj-tt, @skhorasganiTT, @djordje-tt, @esmalTT, @kpaigwar, @yieldthought, @mtairum, @cglagovichTT, @caixunshiren

#10644: Replace ttlib full with ttnn full
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  models/experimental/deit/tt/deit_for_image_classification_with_teacher.py
  models/experimental/deit/tt/deit_self_attention.py
  models/experimental/distilbert/tt/distilbert_multihead_self_attention.py
  models/experimental/mistral/tt/mistral_transformer.py
  models/experimental/nanogpt/tt/nanogpt_attention.py
  models/experimental/roberta/tt/roberta_model.py
  models/experimental/roberta/tt/roberta_self_attention.py
  models/experimental/stable_diffusion/tt/cross_attention.py
  models/experimental/stable_diffusion/tt/residual_block.py
  models/experimental/swin/tt/swin_embeddings.py
  models/experimental/swin/tt/swin_self_attention.py
  models/experimental/whisper/tt/whisper_attention.py
  models/experimental/whisper/tt/whisper_for_audio_classification.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/backward/backward_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10644: Update mem config params
  models/experimental/functional_mistral/tt/ttnn_functional_attention.py
  models/experimental/mistral/mistral_helper_funcs.py
  models/experimental/mistral/tt/mistral_attention.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt

#10778: Update round op with ttnn support
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10778: Update polygamma with ttnn support
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10778: Update triu op with ttnn support
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  models/experimental/mistral/tt/mistral_transformer.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10778: Update Tril op with ttnn support
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  models/experimental/mistral/tt/mistral_transformer.py
  models/experimental/nanogpt/tt/nanogpt_attention.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10778: Update Argmin with ttnn support
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/ttnn/profiling/ops_for_profiling.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10778: Update argmax op with ttnn support
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/ttnn/profiling/ops_for_profiling.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10642: Remove tt eager bindings
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_addalpha.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/complex/complex_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh_clip_grad_norm/moreh_clip_grad_norm_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/optimizer/optimizer_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_composite_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10642: Use registered operations
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/optimizer/optimizer_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt

#10641: rm xlogy trunc selu tanhshrink
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_composite_op.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10815: Update the composite ops with ttnn support
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/non_working_unit_tests/grayskull/test_eltwise_logical_and_.py
  tests/tt_eager/python_api_testing/non_working_unit_tests/grayskull/test_eltwise_logical_andi.py
  tests/tt_eager/python_api_testing/sweep_tests/op_map.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py
  tests/tt_eager/python_api_testing/sweep_tests/pytorch_ops.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tests/ttnn/profiling/ops_for_profiling.py
  tests/ttnn/python_api_testing/sweep_tests/ttnn_ops.py
  tests/ttnn/sweep_tests/sweeps/sweeps/hardshrink.py
  tests/ttnn/sweep_tests/sweeps/sweeps/logit.py
  tests/ttnn/sweep_tests/sweeps/sweeps/softshrink.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_composite_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#11858: Create directories for infra dir
  dockerfile/ubuntu-20.04-amd64.Dockerfile
Owners: @ttmchiou, @TT-billteng, @tt-rkim

#11858: Fix 22.04 Dockerfile sequence
  dockerfile/ubuntu-22.04-amd64.Dockerfile
Owners: @ttmchiou, @TT-billteng, @tt-rkim

#11859: Add libxml2 and libxslt for docker 22.04 requirements
  scripts/docker/requirements-22.04.txt
Owners: @ttmchiou, @TT-billteng, @tt-rkim

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

# T3000 workflows
.github/workflows/t3000*.yaml @ttmchiou

# TG workflows
.github/workflows/tg-*.yaml @ttmchiou

# TGG workflows
.github/workflows/tgg*.yaml @ttmchiou

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

INSTALLING.md @tt-rkim
METALIUM_GUIDE.md @davorchap

third_party/ @tt-rkim @TT-billteng

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim @TT-billteng
requirements*.txt @tt-rkim @TT-billteng
setup_hugepages.py @tt-rkim @TT-billteng

scripts/build_scripts/ @tt-rkim @vtangTT @TT-billteng
scripts/build_scripts/build_with_profiler_opt.sh @mo-tenstorrent @tt-rkim
cmake/ @tt-rkim @vtangTT @TT-billteng
build_metal.sh @tt-rkim @vtangTT @TT-billteng

Makefile @tt-rkim
/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_metal/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
ttnn/cpp/ttnn/experimental/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu
tests/scripts/run_pre_post_commit_regressions_fast_dispatch.sh @tt-rkim @TT-billteng @ttmchiou
tests/scripts/run_models.sh @tt-rkim
tests/scripts/single_card/ @tt-rkim
tests/scripts/single_card/nightly/ @tt-rkim @vtangTT
tests/scripts/t3000/ @ttmchiou
tests/scripts/tg/ @ttmchiou
tests/scripts/tgg/ @ttmchiou

# metal - base
tt_metal/ @abhullar-tt @pgkeller @aliuTT
tt_metal/host_api.hpp @abhullar-tt @davorchap @pgkeller @aliuTT

# metal - dispatch
tt_metal/impl/dispatch/ @pgkeller @tt-asaigal @aliuTT
tt_metal/impl/dispatch/kernels/packet_* @ubcheema @aliuTT
tt_metal/impl/dispatch/kernels/eth_* @ubcheema @aliuTT
tt_metal/kernels/dataflow/dispatch/ @tarafdarTT @pgkeller @aliuTT
docs/source/frameworks/tt_dispatch.rst @pgkeller
# docs/source/tt_metal/apis/host_apis/ @TT-billteng
tests/tt_metal/tt_metal/perf_microbenchmark/routing/ @ubcheema

# metal - fw, llks, risc-v
tt_metal/hw/ckernels/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/hw/firmware/**/Makefile @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @mywoodstock
tt_metal/include/compute_kernel_api/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/include/dataflow_kernel_api.h @davorchap @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @mywoodstock
tt_metal/hw/firmware/src/*erisc* @aliuTT @ubcheema
tt_metal/hw/inc/ethernet/ @aliuTT @ubcheema
tt_metal/hw/inc/wormhole/eth_l1_address_map.h @aliuTT @ubcheema
tt_metal/third_party/tt_llk_* @rtawfik01 @ttmtrajkovic @rdjogoTT

sfpi/ @pgkeller

# metal - profiler
tt_metal/**/profiler/ @mo-tenstorrent
tt_metal/**/profiler/**/CMakeLists.txt @tt-rkim @mo-tenstorrent
tests/tt_metal/tools/profiler/ @mo-tenstorrent
tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent
docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @tt-rkim

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati

# eager - tensor and op infra
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/ccl/ @SeanNijjar
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/program_cache.*pp @arakhmati @eyonland @cfjchu @xanderchin
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh* @razorback3 @dongjin-na
ttnn/cpp/ttnn/tensor/ @arakhmati @eyonland @cfjchu @xanderchin

# eager - python api
# **/tt_lib/
**/ttnn/cpp/ttnn/deprecated/tt_lib/csrc/ @TT-BrianLiu @tt-aho @mywoodstock @eyonland @ayerofieiev-tt @razorback3 @dongjin-na
**/ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_pytensor.cpp @arakhmati @eyonland @cfjchu @xanderchin
**/ttnn/cpp/ttnn/deprecated/tt_lib/fallback_ops @tt-aho

# TTNN
ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/setup.py @tt-rkim
ttnn/CMakeLists.txt @tt-rkim @ayerofieiev-tt
ttnn/cpp/ttnn/operations/matmul/ @TT-BrianLiu @bbradelTT @yugaoTT
ttnn/cpp/ttnn/operations/moreh* @razorback3 @dongjin-na
tests/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu @ayerofieiev-tt @dmakoviichuk-tt @razorback3 @dongjin-na

# models
/models/ @tt-rkim @uaydonat
/models/*/**
models/conv_on_device_utils*.py @mywoodstock @sankarmanoj-tt
functional_*/ @eyonland @arakhmati @cfjchu @xanderchin
models/demos @eyonland @arakhmati @cfjchu @xanderchin
models/demos/metal_BERT_large_11 @tt-aho @TT-BrianLiu
models/demos/wormhole @uaydonat @eyonland
models/demos/t3000 @uaydonat
models/demos/falcon7b_common @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mamba @esmalTT @uaydonat @kpaigwar
models/demos/wormhole/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mistral7b @yieldthought @uaydonat @mtairum
models/demos/t3000/falcon40b @uaydonat @djordje-tt
models/demos/t3000/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/t3000/llama2_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/llama3_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/mixtral8x7b @yieldthought @mtairum @uaydonat
models/demos/tg/llama3_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/grayskull @uaydonat @eyonland
models/demos/resnet @mywoodstock @tt-aho
models/demos/ttnn_resnet @mywoodstock @tt-aho
models/perf/ @uaydonat @tt-rkim
models/perf/benchmarking_utils.py @skhorasganiTT @tt-rkim

# docs
docs/source/ttnn/dependencies/tt_lib.rst @eyonland @arakhmati @cfjchu @xanderchin @ayerofieiev-tt
docs/source/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @ayerofieiev-tt @razorback3 @dongjin-na
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @pgkeller @tt-rkim

# misc
tests/**/dtx/ @mywoodstock @sankarmanoj-tt
tests/**/*test*conv*.py @mywoodstock @sankarmanoj-tt
tests/python_api_testing/conv/ @mywoodstock @sankarmanoj-tt
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
scripts/profiler/ @mo-tenstorrent
scripts/docker @ttmchiou @TT-billteng @tt-rkim

dockerfile @ttmchiou @TT-billteng @tt-rkim
