Repository JushBJJ/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @ttmchiou, @davorchap, @TT-billteng, @vtangTT, @mo-tenstorrent, @aliuTT, @tt-aho, @TT-BrianLiu, @abhullar-tt, @pgkeller, @tt-asaigal, @ubcheema, @tarafdarTT, @rtawfik01, @rdjogoTT, @ttmtrajkovic, @mywoodstock, @SeanNijjar, @arakhmati, @eyonland, @cfjchu, @xanderchin, @razorback3, @dongjin-na, @ayerofieiev-tt, @dmakoviichuk-tt, @bbradelTT, @yugaoTT, @uaydonat, @sankarmanoj-tt, @skhorasganiTT, @djordje-tt, @esmalTT, @kpaigwar, @yieldthought, @mtairum, @cglagovichTT, @caixunshiren

#9514: refactor dispatch core manager init
  tests/tt_metal/tt_metal/perf_microbenchmark/noc/test_noc_unicast_vs_multicast_to_single_core_latency.cpp
  tests/tt_metal/tt_metal/unit_tests_fast_dispatch/command_queue/test_EnqueueWriteBuffer_and_EnqueueReadBuffer.cpp
  tt_metal/core_descriptors/grayskull_120_arch.yaml
  tt_metal/impl/device/device.cpp
  tt_metal/impl/device/device_pool.cpp
  tt_metal/impl/device/device_pool.hpp
  tt_metal/impl/dispatch/command_queue.cpp
  tt_metal/impl/dispatch/command_queue_interface.hpp
  tt_metal/impl/dispatch/dispatch_core_manager.hpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-asaigal

#9514: rename dispatch_core_types_t
  tt_metal/impl/dispatch/dispatch_core_manager.hpp
Owners: @pgkeller, @tt-asaigal, @aliuTT

#10612: Added a GalaxyFixture, TGFixture and TGGFixture to allow for unit tests to be run on Galaxy motherboards, TG configurations and TGG configurations, respectively.
  tests/tt_metal/tt_metal/unit_tests/common/device_fixture.hpp
Owners: @abhullar-tt, @pgkeller, @aliuTT

#10612: Added commands to build unit tests for Galaxy.
  tests/tt_metal/tt_metal/CMakeLists.txt
  tests/tt_metal/tt_metal/unit_tests/CMakeLists.txt
Owners: @abhullar-tt, @pgkeller, @aliuTT

#10612: Fixed num_devices to accurately reflect number of devices counted in TG and TGG.
  tests/tt_metal/tt_metal/unit_tests/common/device_fixture.hpp
Owners: @abhullar-tt, @pgkeller, @aliuTT

#10612: Added unit tests for Galaxy, TG and TGG.
  tests/tt_metal/tt_metal/unit_tests/multichip/device_cluster_api.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT

#10612: Added GalaxyFixture and TGFixture unit tests to run when run_tg_unit_tests.sh is executed.
  tests/scripts/tg/run_tg_unit_tests.sh
Owners: @ttmchiou

#10612: Moved unit tests to separate file.
  tests/tt_metal/tt_metal/unit_tests/multichip/device_cluster_api.cpp
  tests/tt_metal/tt_metal/unit_tests/multichip/galaxy_cluster_api.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT

#10612: Modified GalaxyFixture, TGFixture and TGGFixture to not require slow dispatch enabled.
  tests/tt_metal/tt_metal/unit_tests/common/device_fixture.hpp
Owners: @abhullar-tt, @pgkeller, @aliuTT

#10612: Modified run_tg_unit_tests.sh to run GalaxyFixture and TGFixture unit tests in fast dispatch mode as well.
  tests/scripts/tg/run_tg_unit_tests.sh
Owners: @ttmchiou

#10612: Removed unused include.
  tests/tt_metal/tt_metal/unit_tests/multichip/device_cluster_api.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT

#10612: Removed cout statements.
  tests/tt_metal/tt_metal/unit_tests/multichip/galaxy_cluster_api.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT

#0: Initial implementation
  tt_metal/impl/CMakeLists.txt
  tt_metal/impl/dispatch/command_queue.cpp
  tt_metal/impl/dispatch/command_queue.hpp
  tt_metal/impl/program/program.cpp
  tt_metal/impl/program/program.hpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-asaigal

#10049: Make BH dram bank size the full addressable dram size
  tt_metal/soc_descriptors/blackhole_140_arch.yaml
Owners: @abhullar-tt, @pgkeller, @aliuTT

#7494: Added unit tests to ensure that circular buffer configs are being correctly written out to core range sets consisting of multiple core ranges.
  tests/tt_metal/tt_metal/unit_tests_fast_dispatch/command_queue/test_EnqueueProgram.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT

#7494: Added a unit test that writes out initial semaphore values to multiple cores to ensure that they are properly written out
  tests/tt_metal/tt_metal/unit_tests_fast_dispatch/command_queue/test_EnqueueProgram.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT

#7494: Added asserts to catch improper usage of the function
  tests/tt_metal/tt_metal/unit_tests_fast_dispatch/command_queue/test_EnqueueProgram.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT

#0: Use 8x8 core grid in Mamba performance tests
  tests/scripts/run_performance.sh
Owners: @tt-rkim

#0: add c++ api for fold
  tests/tt_eager/python_api_testing/unit_testing/misc/test_fold_op.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/fold/fold_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/fold/fold_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_dm_ops.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/kernels/dataflow/slice_reader_unary_unpad_dims_rm_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/kernels/dataflow/slice_writer_unary_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/slice_program_factory.hpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt

#0: Fix performance drop when running Mamba decode after prefill
  models/demos/wormhole/mamba/tests/test_cache.py
  models/demos/wormhole/mamba/tt/cache.py
  models/demos/wormhole/mamba/tt/mamba_block.py
Owners: @esmalTT, @uaydonat, @kpaigwar

#10556: [Blackhole Bringup] add ceil for bh
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_ceil.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_floor.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_ceil.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_floor.h
Owners: @rtawfik01, @rdjogoTT, @ttmtrajkovic

#10556: [Blackhole Bringup] change round mode in kernel
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_ceil.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_floor.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_ceil.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_floor.h
Owners: @rtawfik01, @rdjogoTT, @ttmtrajkovic

#0: sq; Update reduce scatter usage in falcon mlp
  models/demos/t3000/falcon40b/tt/falcon_mlp.py
Owners: @uaydonat, @djordje-tt

#10584: enable async mode for reduce scatter
  tests/ttnn/unit_tests/operations/test_reduce_scatter_nightly.py
  tests/ttnn/unit_tests/operations/test_reduce_scatter_post_commit.py
  ttnn/cpp/ttnn/operations/ccl/ccl_host_datastructures.hpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/host/reduce_scatter_full_worker_grid.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/reduce_scatter_op.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/reduce_scatter_op.hpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/reduce_scatter_op.hpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/reduce_scatter_pybind.hpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt, @razorback3, @dongjin-na

#0: fix bad std::variant type check for MultiDeviceHostStorage
  tests/ttnn/unit_tests/gtests/test_multi_device.cpp
  ttnn/cpp/ttnn/tensor/tensor_utils.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt, @razorback3, @dongjin-na

#0: sq. merge reduce_scatter and reduce_scatter_impl
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/reduce_scatter_op.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt

#0: sq fix regression
  tests/ttnn/unit_tests/operations/test_reduce_scatter_nightly.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt, @razorback3, @dongjin-na

#0: sq
  tests/ttnn/unit_tests/operations/test_reduce_scatter_nightly.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt, @razorback3, @dongjin-na

#0: squash. Resolve some feedback
  tests/ttnn/unit_tests/operations/test_reduce_scatter_nightly.py
  tests/ttnn/unit_tests/operations/test_reduce_scatter_post_commit.py
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/host/reduce_scatter_full_worker_grid.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/reduce_scatter_op.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/reduce_scatter.hpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/reduce_scatter_pybind.hpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt, @razorback3, @dongjin-na

#10644: Remove arange bindings
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt

#10644: Replace ttlib ones like with ttnn ones_like
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/optimizer/optimizer_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10644: Remove full_like ttlib op
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10644: Replace ttdnn ones op
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  models/experimental/distilbert/tt/distilbert_model.py
  models/experimental/mistral/mistral_helper_funcs.py
  models/experimental/nanogpt/tt/nanogpt_attention.py
  models/experimental/ssd/tt/ssd.py
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10644: Remove ttlib arange usage
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  models/experimental/nanogpt/tt/nanogpt_model.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10644: Replace ttlib zeros by ttnn
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10644: Use ttnn full_like in backward and composite op
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/backward/backward_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt

#10644: Replace ttlib zeros like op
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/backward/backward_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/optimizer/optimizer_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @TT-BrianLiu, @dmakoviichuk-tt

#10644: Fix device param for repeat_bw
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt

#10644: Remove ttlib empty usage
  docs/source/ttnn/ttnn/dependencies/tt_lib.rst
  models/demos/metal_BERT_large_11/tt/mha.py
  models/experimental/functional_mistral/tt/ttnn_functional_attention.py
  models/experimental/mistral/tt/mistral_attention.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_concat.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_adamw.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_repeat.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/composite/composite_ops.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_composite_ops.cpp
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @ayerofieiev-tt, @razorback3, @dongjin-na, @tt-aho, @TT-BrianLiu, @dmakoviichuk-tt

#10644: Update test creation
  tests/ttnn/unit_tests/operations/test_creation.py
  ttnn/ttnn/operations/creation.py
Owners: @eyonland, @arakhmati, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt, @razorback3, @dongjin-na

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

# T3000 workflows
.github/workflows/t3000*.yaml @ttmchiou

# TG workflows
.github/workflows/tg-*.yaml @ttmchiou

# TGG workflows
.github/workflows/tgg*.yaml @ttmchiou

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

INSTALLING.md @tt-rkim
METALIUM_GUIDE.md @davorchap

third_party/ @tt-rkim @TT-billteng

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim @TT-billteng
requirements*.txt @tt-rkim @TT-billteng
setup_hugepages.py @tt-rkim @TT-billteng

scripts/build_scripts/ @tt-rkim @vtangTT @TT-billteng
scripts/build_scripts/build_with_profiler_opt.sh @mo-tenstorrent @tt-rkim
cmake/ @tt-rkim @vtangTT @TT-billteng
build_metal.sh @tt-rkim @vtangTT @TT-billteng

Makefile @tt-rkim
/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_metal/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
ttnn/cpp/ttnn/experimental/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu
tests/scripts/run_pre_post_commit_regressions_fast_dispatch.sh @tt-rkim @TT-billteng @ttmchiou
tests/scripts/run_models.sh @tt-rkim
tests/scripts/single_card/ @tt-rkim
tests/scripts/single_card/nightly/ @tt-rkim @vtangTT
tests/scripts/t3000/ @ttmchiou
tests/scripts/tg/ @ttmchiou
tests/scripts/tgg/ @ttmchiou

# metal - base
tt_metal/ @abhullar-tt @pgkeller @aliuTT
tt_metal/host_api.hpp @abhullar-tt @davorchap @pgkeller @aliuTT

# metal - dispatch
tt_metal/impl/dispatch/ @pgkeller @tt-asaigal @aliuTT
tt_metal/impl/dispatch/kernels/packet_* @ubcheema @aliuTT
tt_metal/impl/dispatch/kernels/eth_* @ubcheema @aliuTT
tt_metal/kernels/dataflow/dispatch/ @tarafdarTT @pgkeller @aliuTT
docs/source/frameworks/tt_dispatch.rst @pgkeller
# docs/source/tt_metal/apis/host_apis/ @TT-billteng
tests/tt_metal/tt_metal/perf_microbenchmark/routing/ @ubcheema

# metal - fw, llks, risc-v
tt_metal/hw/ckernels/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/hw/firmware/**/Makefile @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @mywoodstock
tt_metal/include/compute_kernel_api/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/include/dataflow_kernel_api.h @davorchap @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @mywoodstock
tt_metal/hw/firmware/src/*erisc* @aliuTT @ubcheema
tt_metal/hw/inc/ethernet/ @aliuTT @ubcheema
tt_metal/hw/inc/wormhole/eth_l1_address_map.h @aliuTT @ubcheema
tt_metal/third_party/tt_llk_* @rtawfik01 @ttmtrajkovic @rdjogoTT

sfpi/ @pgkeller

# metal - profiler
tt_metal/**/profiler/ @mo-tenstorrent
tt_metal/**/profiler/**/CMakeLists.txt @tt-rkim @mo-tenstorrent
tests/tt_metal/tools/profiler/ @mo-tenstorrent
tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent
docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @tt-rkim

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati

# eager - tensor and op infra
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/ccl/ @SeanNijjar
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/program_cache.*pp @arakhmati @eyonland @cfjchu @xanderchin
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh* @razorback3 @dongjin-na
ttnn/cpp/ttnn/tensor/ @arakhmati @eyonland @cfjchu @xanderchin

# eager - python api
# **/tt_lib/
**/ttnn/cpp/ttnn/deprecated/tt_lib/csrc/ @TT-BrianLiu @tt-aho @mywoodstock @eyonland @ayerofieiev-tt @razorback3 @dongjin-na
**/ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_pytensor.cpp @arakhmati @eyonland @cfjchu @xanderchin
**/ttnn/cpp/ttnn/deprecated/tt_lib/fallback_ops @tt-aho

# TTNN
ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/setup.py @tt-rkim
ttnn/CMakeLists.txt @tt-rkim @ayerofieiev-tt
ttnn/cpp/ttnn/operations/matmul/ @TT-BrianLiu @bbradelTT @yugaoTT
ttnn/cpp/ttnn/operations/moreh* @razorback3 @dongjin-na
tests/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @TT-BrianLiu @ayerofieiev-tt @dmakoviichuk-tt @razorback3 @dongjin-na

# models
/models/ @tt-rkim @uaydonat
/models/*/**
models/conv_on_device_utils*.py @mywoodstock @sankarmanoj-tt
functional_*/ @eyonland @arakhmati @cfjchu @xanderchin
models/demos @eyonland @arakhmati @cfjchu @xanderchin
models/demos/metal_BERT_large_11 @tt-aho @TT-BrianLiu
models/demos/wormhole @uaydonat @eyonland
models/demos/t3000 @uaydonat
models/demos/falcon7b_common @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mamba @esmalTT @uaydonat @kpaigwar
models/demos/wormhole/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mistral7b @yieldthought @uaydonat @mtairum
models/demos/t3000/falcon40b @uaydonat @djordje-tt
models/demos/t3000/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/t3000/llama2_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/llama3_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/mixtral8x7b @yieldthought @mtairum @uaydonat
models/demos/tg/llama3_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/grayskull @uaydonat @eyonland
models/demos/resnet @mywoodstock @tt-aho
models/demos/ttnn_resnet @mywoodstock @tt-aho
models/perf/ @uaydonat @tt-rkim
models/perf/benchmarking_utils.py @skhorasganiTT @tt-rkim

# docs
docs/source/ttnn/dependencies/tt_lib.rst @eyonland @arakhmati @cfjchu @xanderchin @ayerofieiev-tt
docs/source/ttnn/ @eyonland @arakhmati @cfjchu @xanderchin @ayerofieiev-tt @razorback3 @dongjin-na
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @pgkeller @tt-rkim

# misc
tests/**/dtx/ @mywoodstock @sankarmanoj-tt
tests/**/*test*conv*.py @mywoodstock @sankarmanoj-tt
tests/python_api_testing/conv/ @mywoodstock @sankarmanoj-tt
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
scripts/profiler/ @mo-tenstorrent
scripts/docker @ttmchiou @TT-billteng @tt-rkim

dockerfile @ttmchiou @TT-billteng @tt-rkim
