Repository JushBJJ/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @TT-billteng, @pgkeller, @aliuTT, @tt-aho, @TT-BrianLiu, @abhullar-tt, @davorchap, @tarafdarTT, @DrJessop, @rtawfik01, @muthutt, @mywoodstock, @mo-tenstorrent, @farbabi, @tt-nshanker, @arakhmati, @eyonland, @boris-drazic

#0: foo
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/kernels/pgm_dispatch_perf.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_pgm_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
Owners: @DrJessop, @davorchap

#0: Remove need for orphan writes in dispatch write fns
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
Owners: @DrJessop, @davorchap

#0: Respect NOC_MAX_BURST_SIZE when writing to fence
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
Owners: @DrJessop, @davorchap

#10267: Add test examples
  tests/tt_eager/python_api_testing/unit_testing/misc/test_moreh_sum.py
  tt_eager/tt_dnn/kernels/compute/moreh_common.hpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_h_impl/kernels/moreh_sum_h.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_h_impl/kernels/reader_moreh_sum_h.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc_impl/kernels/moreh_sum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_nc_impl/kernels/reader_moreh_sum_nc.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_w_impl/kernels/moreh_sum_w.cpp
  tt_eager/tt_dnn/op_library/moreh_sum/moreh_sum_w_impl/kernels/reader_moreh_sum_w.cpp
Owners: none

#10557: Skip acosh test for GS
  tests/ttnn/sweep_tests/sweeps/sweeps/acosh.py
Owners: @eyonland, @arakhmati

#10670: Implement dropout for Wormhole using hardware PRNG
  tests/tt_metal/tt_metal/CMakeLists.txt
  tests/tt_metal/tt_metal/test_dropout.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/dropout_sfpu.cpp
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_dropout.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_dropout.h
  tt_metal/include/compute_kernel_api/eltwise_unary/dropout.h
  tt_metal/include/compute_kernel_api/eltwise_unary/sfpu_split_includes.h
Owners: @rtawfik01

#9770: Enable ttnn support for blazepose model
  models/experimental/blazepose/demo/blazebase.py
  models/experimental/functional_blazepose/tt/blazepose_model.py
  models/experimental/functional_blazepose/tt/blazepose_utils.py
  tests/ttnn/integration_tests/blazepose/test_ttnn_blazepose.py
  tests/ttnn/unit_tests/operations/test_convolution.py
Owners: @boris-drazic, @farbabi, @eyonland, @arakhmati, @tt-nshanker

#8957: Add example sweeps to sweeps library
  tests/sweep_framework/sweeps/add.py
  tests/sweep_framework/sweeps/matmul_default_sharded.py
  tests/ttnn/utils_for_testing.py
Owners: @eyonland, @arakhmati

#8957: Add CLI query tool and export_to_sqlite util
  tests/sweep_framework/export_to_sqlite.py
  tests/sweep_framework/query.py
Owners: none

#8957: Add test vector generation and prerequisites
  tests/sweep_framework/parameter_generator.py
  tests/sweep_framework/permutations.py
  tests/sweep_framework/requirements-sweeps.txt
  tt_metal/python_env/requirements-dev.txt
Owners: @tt-rkim

#8957: Add test runner including hang detection and tt-smi resets, e2e perf, db result support, module/suite support
  tests/sweep_framework/architecture.py
  tests/sweep_framework/runner.py
Owners: none

#8957: Add sweep framework README
  tests/sweep_framework/README.md
Owners: none

#8957: Add serialization/deserialization for test vectors
  tests/sweep_framework/serialize.py
  tests/sweep_framework/statuses.py
Owners: none

#0: Stash - Remove old embedding_bw - Update embedding test - Port over code from Yan
  tests/ttnn/unit_tests/operations/backward/test_backward_embedding.py
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/math.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.hpp
  ttnn/cpp/ttnn/operations/embedding/device/embedding_program_factory.hpp
  ttnn/cpp/ttnn/operations/embedding_backward/device/embedding_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/embedding_backward/device/embedding_backward_device_operation.hpp
  ttnn/cpp/ttnn/operations/embedding_backward/device/embedding_backward_program_factory.hpp
  ttnn/cpp/ttnn/operations/embedding_backward/device/kernels/dataflow/reader_embedding_backward.cpp
  ttnn/cpp/ttnn/operations/embedding_backward/embedding_backward.hpp
  ttnn/cpp/ttnn/operations/embedding_backward/embedding_backward_pybind.hpp
  ttnn/ttnn/operations/binary_backward.py
Owners: @eyonland, @arakhmati

#0: Comment deps in requirements-dev.txt
  tt_metal/python_env/requirements-dev.txt
Owners: @tt-rkim

#10452: klassify conv unit test
  models/experimental/README.md
  tests/ttnn/unit_tests/operations/test_conv2d.py
  tests/ttnn/unit_tests/operations/test_new_conv2d.py
Owners: @boris-drazic, @farbabi, @tt-nshanker

#10395: Format nightly fast dispatch to include the runs-on spec in each test config
  .github/workflows/fast-dispatch-full-regressions-and-models.yaml
  .github/workflows/ttnn-run-sweeps.yaml
Owners: @tt-rkim

#10395: Fix grayskull run spec for API. Add N150 common models, wh-only, and api
  .github/workflows/fast-dispatch-full-regressions-and-models.yaml
Owners: @tt-rkim

#0: Add 3 minute timeout for weka mount because it's eating up 6h
  .github/workflows/fast-dispatch-full-regressions-and-models.yaml
Owners: @tt-rkim

#0: wip
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/sliding_window_op_infra/sliding_window.hpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool2d_device_op.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool2d_device_op.hpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool2d_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/max_pool2d.hpp
  ttnn/cpp/ttnn/operations/pool/maxpool/max_pool2d_pybind.hpp
  ttnn/cpp/ttnn/operations/pool/maxpool/maxpool_pybind.hpp
Owners: @eyonland, @arakhmati

#0: wip
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool2d_device_op.hpp
  ttnn/cpp/ttnn/operations/pool/maxpool/max_pool2d.hpp
Owners: @eyonland, @arakhmati

#0: wip
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool2d_device_op.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool2d_device_op.hpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool2d_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool_multi_core.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool_program_factory.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/max_pool.hpp
  ttnn/cpp/ttnn/operations/pool/maxpool/max_pool2d.hpp
  ttnn/cpp/ttnn/operations/pool/maxpool/max_pool2d_pybind.hpp
  ttnn/cpp/ttnn/operations/pool/maxpool/maxpool_pybind.hpp
  ttnn/cpp/ttnn/operations/upsample/upsample_op.cpp
Owners: @eyonland, @arakhmati

#0: Migrate `ssm_prefix_scan` to `ttnn`
  models/demos/wormhole/mamba/tt/mamba_one_step_ssm.py
  tests/ttnn/unit_tests/operations/test_ssm_prefix_scan.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transformer_tms/transformer_tms.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transformer_tms/transformer_tms.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/operations/primary/transformers/module.hpp
  ttnn/cpp/ttnn/operations/experimental/experimental_pybind.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/kernels/reader_ssm_prefix_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/kernels/ssm_prefix_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/kernels/writer_ssm_prefix_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/prefix_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/prefix_scan.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/prefix_scan_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/prefix_scan.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/prefix_scan_pybind.hpp
Owners: @boris-drazic, @farbabi, @eyonland, @arakhmati

#0: Migrate `ssm_1d_sum_reduce` to `ttnn`
  models/demos/wormhole/mamba/tt/mamba_one_step_ssm.py
  tests/ttnn/unit_tests/operations/test_ssm_sum_reduce.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transformer_tms/transformer_tms.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transformer_tms/transformer_tms.hpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/operations/primary/transformers/module.hpp
  ttnn/cpp/ttnn/operations/experimental/experimental_pybind.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/sum_reduce/device/kernels/reader_ssm_1d_sum_reduce.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/sum_reduce/device/kernels/ssm_1d_sum_reduce.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/sum_reduce/device/kernels/writer_ssm_1d_sum_reduce.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/sum_reduce/device/sum_reduce.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/sum_reduce/device/sum_reduce.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/sum_reduce/device/sum_reduce_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/sum_reduce/sum_reduce.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/sum_reduce/sum_reduce_pybind.hpp
Owners: @boris-drazic, @farbabi, @eyonland, @arakhmati

#0: Stash
  tests/ttnn/unit_tests/operations/backward/test_backward_embedding.py
  ttnn/cpp/ttnn/operations/embedding_backward/device/embedding_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/embedding_backward/device/embedding_backward_program_factory.hpp
  ttnn/cpp/ttnn/operations/embedding_backward/device/kernels/dataflow/reader_embedding_backward.cpp
  ttnn/cpp/ttnn/operations/embedding_backward/embedding_backward.hpp
  ttnn/cpp/ttnn/operations/embedding_backward/embedding_backward_pybind.hpp
Owners: @eyonland, @arakhmati

#0: wip
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
  ttnn/cpp/ttnn/operations/conv2d/conv2d.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/max_pool2d.hpp
  ttnn/ttnn/operations/conv2d.py
Owners: @eyonland, @arakhmati

#3764: Device side opID support
  .github/workflows/t3000-profiler-tests.yaml
  tt_metal/hw/firmware/src/brisc.cc
  tt_metal/hw/firmware/src/erisc.cc
  tt_metal/hw/firmware/src/idle_erisc.cc
  tt_metal/hw/inc/dev_msgs.h
  tt_metal/impl/dispatch/command_queue.cpp
  tt_metal/impl/program/program.cpp
  tt_metal/impl/program/program.hpp
  tt_metal/tools/profiler/kernel_profiler.hpp
  tt_metal/tools/profiler/process_device_log.py
  tt_metal/tools/profiler/process_ops_logs.py
  tt_metal/tools/profiler/profiler.cpp
  tt_metal/tools/profiler/profiler.hpp
  tt_metal/tt_metal.cpp
  ttnn/cpp/ttnn/device_operation.hpp
  ttnn/cpp/ttnn/run_operation.cpp
Owners: @tt-rkim, @DrJessop, @davorchap, @TT-billteng, @eyonland, @arakhmati

#0: wip
  tests/tt_eager/ops/test_sliding_window_ops.cpp
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/sliding_window_op_infra/sliding_window.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool2d_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/max_pool2d.hpp
Owners: @eyonland, @arakhmati

#0: fake ops work
  tt_metal/graph_tracking.hpp
  tt_metal/impl/program/program.cpp
  tt_metal/tt_metal.cpp
  ttnn/cpp/ttnn/device_operation.hpp
  ttnn/cpp/ttnn/experimental/tt_dnn/op_library/run_operation.cpp
Owners: @TT-billteng, @eyonland, @arakhmati

#9757: First commit
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/CMakeLists.txt
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/untilize/untilize_with_halo_op_v2.cpp
  ttnn/cpp/ttnn/operations/conv2d/conv2d.hpp
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv_sharded/optimized_conv_op_sharded_v2.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool_multi_core.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/max_pool.hpp
  ttnn/cpp/ttnn/operations/sliding_window/halo_op.cpp
  ttnn/cpp/ttnn/operations/sliding_window/halo_op.hpp
  ttnn/cpp/ttnn/operations/sliding_window/reference_sliding_window.cpp
  ttnn/cpp/ttnn/operations/sliding_window/reference_sliding_window.hpp
  ttnn/cpp/ttnn/operations/sliding_window/sliding_window.cpp
  ttnn/cpp/ttnn/operations/sliding_window/sliding_window.hpp
  ttnn/cpp/ttnn/operations/sliding_window/utils.hpp
Owners: @eyonland, @arakhmati

#10565: Cleanup and Remove std function for bw, complex ops
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_binary/complex_binary.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_binary/device/complex_binary_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_binary_backward/complex_binary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_binary_backward/device/complex_binary_backward_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary/complex_unary.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary/device/complex_unary_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary_backward/complex_unary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary_backward/complex_unary_backward_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary_backward/device/complex_unary_backward_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary_backward/device/ternary_backward_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary_backward/ternary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward_pybind.hpp
Owners: @eyonland, @arakhmati

#10643: Update Structure
  ttnn/cpp/ttnn/operations/eltwise/complex_binary_backward/complex_binary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary_backward/complex_unary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward.hpp
Owners: @eyonland, @arakhmati

#10589: Overload backward ops
  tests/ttnn/unit_tests/operations/backward/test_backward_add.py
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward_pybind.hpp
Owners: @eyonland, @arakhmati

#0: yolov4 in WH
  models/experimental/yolov4/reference/downsample1.py
  models/experimental/yolov4/reference/downsample2.py
  models/experimental/yolov4/reference/downsample3.py
  models/experimental/yolov4/reference/downsample4.py
  models/experimental/yolov4/reference/downsample5.py
  models/experimental/yolov4/reference/head.py
  models/experimental/yolov4/reference/neck.py
  models/experimental/yolov4/reference/resblock.py
  models/experimental/yolov4/reference/yolov4.py
  models/experimental/yolov4/ttnn/common.py
  models/experimental/yolov4/ttnn/downsample1.py
  models/experimental/yolov4/ttnn/downsample2.py
  models/experimental/yolov4/ttnn/downsample3.py
  models/experimental/yolov4/ttnn/downsample4.py
  models/experimental/yolov4/ttnn/downsample5.py
  models/experimental/yolov4/ttnn/head.py
  models/experimental/yolov4/ttnn/neck.py
  models/experimental/yolov4/ttnn/yolov4.py
Owners: @boris-drazic, @farbabi

#8865: Port ttnn changed ttnn ops to dispatch prifling infra
  tests/ttnn/profiling/ops_for_profiling.py
  tests/ttnn/profiling/reference.txt
  tests/ttnn/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/wormhole/ttnn_eltwise_mul_bcast_test copy.yaml
Owners: @eyonland, @arakhmati

#8865: Delete wrongly commited file
  tests/ttnn/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/wormhole/ttnn_eltwise_mul_bcast_test copy.yaml
Owners: @eyonland, @arakhmati

#0: move upsample
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/data_movement/data_movement_pybind.hpp
  ttnn/cpp/ttnn/operations/data_movement/upsample/device/kernels/dataflow/reader_upsample_unary_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/upsample/device/kernels/dataflow/writer_upsample_multi_core_sharded.cpp
  ttnn/cpp/ttnn/operations/data_movement/upsample/device/kernels/dataflow/writer_upsample_unary_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/upsample/device/upsample_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/upsample/device/upsample_op.hpp
  ttnn/cpp/ttnn/operations/data_movement/upsample/device/upsample_program_factory_multicore.cpp
  ttnn/cpp/ttnn/operations/data_movement/upsample/device/upsample_program_factory_singlecore.cpp
  ttnn/cpp/ttnn/operations/data_movement/upsample/upsample.hpp
  ttnn/cpp/ttnn/operations/data_movement/upsample/upsample_pybind.hpp
Owners: @eyonland, @arakhmati

Move downsample to pool folder from data_movement folder
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/conv2d/conv2d.cpp
  ttnn/cpp/ttnn/operations/data_movement/data_movement_pybind.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary/unary.hpp
  ttnn/cpp/ttnn/operations/pool/downsample/device/downsample_op.cpp
  ttnn/cpp/ttnn/operations/pool/downsample/device/downsample_op.hpp
  ttnn/cpp/ttnn/operations/pool/downsample/device/kernels/downsample_compute_kernel.cpp
  ttnn/cpp/ttnn/operations/pool/downsample/device/kernels/downsample_fast_pack_untilize_compute_kernel.cpp
  ttnn/cpp/ttnn/operations/pool/downsample/device/kernels/downsample_writer_kernel.cpp
  ttnn/cpp/ttnn/operations/pool/downsample/downsample.hpp
  ttnn/cpp/ttnn/operations/pool/downsample/downsample_op_pybind.hpp
Owners: @eyonland, @arakhmati

#10536: replciated c++ transpose code into ttnn
  models/experimental/roberta/tt/roberta_self_output.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/data_movement/permute/permute.hpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/cn_multi_core/transpose_cn_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/hc_multi_core/transpose_hc_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/kernels/compute/transpose_wh.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/kernels/compute/transpose_wh_sharded.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/kernels/dataflow/reader_unary_transpose_cn_interleaved.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/kernels/dataflow/reader_unary_transpose_cn_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/kernels/dataflow/reader_unary_transpose_hc_interleaved_partitioned.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/kernels/dataflow/reader_unary_transpose_wh_interleaved.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/kernels/dataflow/reader_unary_transpose_wh_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/transpose_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/transpose_op.hpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/wh_multi_core/transpose_wh_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/transpose.hpp
Owners: @boris-drazic, @farbabi, @eyonland, @arakhmati

#0: Weights reader completed
  tests/ttnn/unit_tests/operations/test_new_conv2d.py
  tt_metal/impl/program/program.hpp
  ttnn/cpp/ttnn/operations/conv2d/device/kernels/activation_reader_width_sharded.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/kernels/conv_bmm_tilize_col_major_out_blocks.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/kernels/weights_reade
  ttnn/cpp/ttnn/operations/conv2d/device/kernels/weights_reader_width_sharded.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv_sharded/optimized_conv_op_width_sharded_v2.cpp
Owners: @tt-nshanker, @TT-billteng, @eyonland, @arakhmati

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

third_party/ @tt-rkim @TT-billteng
sfpi/ @pgkeller

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim
requirements*.txt @tt-rkim
setup_hugepages.py @tt-rkim

Makefile @tt-rkim
/module.mk @tt-rkim
tt_metal/module.mk @tt-rkim
tt_metal/common/module.mk @tt-rkim
tt_eager/module.mk @tt-rkim

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu

# metal - base
# tt_metal/tt_metal.cpp @abhullar-tt @TT-billteng
tt_metal/host_api.hpp @abhullar-tt @TT-billteng @davorchap
tt_metal/impl/device/ @TT-billteng
tt_metal/impl/buffers/ @TT-billteng @tarafdarTT
tt_metal/impl/program/ @TT-billteng
# tt_metal/impl/ @abhullar-tt @TT-billteng
# tt_metal/impl/**/module.mk @tt-rkim @abhullar-tt @TT-billteng

# metal - dispatch
tt_metal/impl/dispatch/ @DrJessop @davorchap
tt_metal/impl/dispatch/**/module.mk @DrJessop @davorchap @tt-rkim
tt_metal/kernels/dataflow/dispatch/ @DrJessop @davorchap @tarafdarTT
docs/source/frameworks/tt_dispatch.rst @DrJessop @davorchap
docs/source/tt_metal/apis/host_apis/ @TT-billteng

# metal - fw, llks, risc-v
# tt_metal/hw/ckernels/ @davorchap
# tt_metal/hw/ckernels/**/module.mk @tt-rkim @davorchap
# tt_metal/hw/ckernels/**/Makefile @tt-rkim @davorchap
# tt_metal/hw/firmware/ @davorchap @pgkeller @DrJessop
tt_metal/hw/ckernels/ @rtawfik01
tt_metal/hw/firmware/**/module.mk @tt-rkim
tt_metal/hw/firmware/**/Makefile @tt-rkim
# tt_metal/hw/meta/ @davorchap @pgkeller @DrJessop @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @muthutt @mywoodstock
tt_metal/include/dataflow_kernel_api.h @davorchap @DrJessop @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @DrJessop @mywoodstock

# metal - profiler
# tt_metal/**/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/**/profiler/**/module.mk @tt-rkim @mo-tenstorrent @TT-billteng
# tests/tt_metal/tools/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent @TT-billteng
# docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent @TT-billteng
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @farbabi

# eager - dtx
**/dtx/ @tt-nshanker
**/dtx/**/module.mk @tt-rkim @tt-nshanker

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati
# **/tensor/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati

# eager - ops (dnn)
# **/tt_dnn/ @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/op_library/conv/ @tt-nshanker @arakhmati
# **/tt_dnn/op_library/conv/**/module.mk @tt-rkim @tt-nshanker @arakhmati
# **/tt_dnn/op_library/bmm/ @mywoodstock @TT-BrianLiu @tt-aho
# **/tt_dnn/op_library/bmm/**/module.mk @tt-rkim @mywoodstock @TT-BrianLiu @tt-aho
tt_eager/tt_dnn/op_library/composite/ @muthutt
tt_eager/tt_dnn/op_library/complex/ @muthutt
tt_eager/tt_dnn/op_library/backward/ @muthutt

# eager - python api
# **/tt_lib/
**/tt_lib/csrc/ @TT-BrianLiu @tt-aho @arakhmati @mywoodstock
**/tt_lib/fallback_ops @tt-aho @arakhmati

# TTNN
ttnn/ @eyonland @arakhmati
tests/ttnn/ @eyonland @arakhmati

# models
models/ @boris-drazic @farbabi
models/conv_on_device_utils*.py @tt-nshanker
models/bert_large_performant @tt-aho @TT-BrianLiu
models/metal_BERT_large_11 @tt-aho @TT-BrianLiu
functional_*/ @eyonland @arakhmati

# docs
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @DrJessop @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @DrJessop @pgkeller @tt-rkim

# misc
tests/**/dtx/ @tt-nshanker
tests/**/*test*conv*.py @tt-nshanker
# tests/**/module.mk @tenstorrent-metal/developers
tests/python_api_testing/conv/ @tt-nshanker
tests/python_api_testing/unit_testing/fallback_ops @tt-aho @arakhmati
tests/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py @muthutt
scripts/profiler/ @muthutt @mo-tenstorrent @TT-billteng
