Repository JushBJJ/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @TT-billteng, @pgkeller, @aliuTT, @tt-aho, @TT-BrianLiu, @abhullar-tt, @davorchap, @tarafdarTT, @DrJessop, @rtawfik01, @muthutt, @mywoodstock, @mo-tenstorrent, @farbabi, @tt-nshanker, @arakhmati, @eyonland, @boris-drazic

#10750: create_venv directly inside rather than using cached deps
  .github/workflows/ttnn-post-commit.yaml
Owners: @tt-rkim

Revert "#10750: create_venv directly inside rather than using cached deps"
  .github/workflows/ttnn-post-commit.yaml
Owners: @tt-rkim

#10750: Add arbitrary checker scripts
  .github/workflows/ttnn-post-commit.yaml
  scripts/check_stuff.sh
Owners: @tt-rkim

#10750: Use python3 -m pip
  create_venv.sh
Owners: none

Revert "Revert "#10750: create_venv directly inside rather than using cached deps""
  .github/workflows/ttnn-post-commit.yaml
Owners: @tt-rkim

#10750: Same thing with docs workflow
  .github/workflows/docs-latest-public.yaml
Owners: @tt-rkim

#10750: Add github-token
  .github/workflows/docs-latest-public.yaml
  .github/workflows/ttnn-post-commit.yaml
Owners: @tt-rkim

Revert "Revert "Revert "#10750: create_venv directly inside rather than using cached deps"""
  .github/workflows/ttnn-post-commit.yaml
Owners: @tt-rkim

#10750: Show root folder so we can see
  scripts/check_stuff.sh
Owners: none

#10750: Check loguru location first
  scripts/check_stuff.sh
Owners: none

#10750: Try pip 23.2.1
  create_venv.sh
Owners: none

#0: fix u-bench pipeline
  tests/scripts/test_moreh_microbenchmark.py
  tests/tt_metal/tt_metal/perf_microbenchmark/8_dram_adjacent_core_read/test_dram_read.cpp
Owners: none

#0: Add BlackholeComputeKernelConfig
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/compute_kernel_config.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/layernorm_distributed/layernorm_post_allgather_op_multi_core.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/layernorm_distributed/layernorm_pre_allgather_op_multi_core.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/paged_update_cache/multi_core/paged_update_cache_op_multi_core.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/rotary_embedding/multi_core/rotary_embedding_llama_op_multi_core.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/rotary_embedding/multi_core/rotary_embedding_op_multi_core.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/sdpa/multi_core/sdpa_decode_op_multi_core.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/sdpa/multi_core/sdpa_op_multi_core.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transformer_tms/multi_core_attn_matmul/multi_core_attn_matmul.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transformer_tms/multi_core_group_attn_matmul/multi_core_group_attn_matmul.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/update_cache/multi_core/update_cache_op_multi_core.cpp
  ttnn/cpp/ttnn/device.cpp
  ttnn/cpp/ttnn/device.hpp
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv_sharded/optimized_conv_op_sharded_v2.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_1d_optimized/bmm_op_multi_core_reuse_mcast_1d_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_2d_optimized/bmm_op_multi_core_reuse_mcast_2d_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_dram_sharded_optimized/bmm_op_multi_core_reuse_dram_sharded_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_optimized/bmm_op_multi_core_reuse_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/single_core/bmm_op_single_core_tilize_untilize.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/multi_core/layernorm_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/multi_core/softmax_op_multi_core.cpp
  ttnn/ttnn/types.py
Owners: @eyonland, @arakhmati

#10288: add fold op impl on device
  tests/tt_eager/python_api_testing/unit_testing/misc/test_fold_op.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_transpose.py
  tests/ttnn/unit_tests/operations/test_pad.py
  tests/ttnn/unit_tests/test_reshape.py
  tt_metal/include/compute_kernel_api/untilize.h
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reshape/kernels/dataflow/reader_unary_reshape_stick_layout_interleaved_multi_core.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reshape/kernels/dataflow/writer_unary_reshape_stick_layout_interleaved_multi_core.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reshape/reshape_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transpose/hc_multi_core/transpose_hc_op_multi_core.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transpose/kernels/compute/transpose_wh_rm.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transpose/kernels/dataflow/reader_unary_transpose_hc_interleaved_partitioned_rm.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transpose/kernels/dataflow/reader_unary_transpose_wh_interleaved_start_id_rm.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transpose/kernels/dataflow/writer_unary_tranpose_wh_interleaved_start_id_rm.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transpose/kernels/dataflow/writer_unary_transpose_hc_interleaved_start_id_rm.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transpose/transpose_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transpose/wh_multi_core/transpose_wh_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/pad/device/kernels/dataflow/reader_pad_dims_rm_interleaved_v2.cpp
  ttnn/cpp/ttnn/operations/data_movement/pad/device/kernels/dataflow/writer_pad_dims_rm_interleaved_v2.cpp
  ttnn/cpp/ttnn/operations/data_movement/pad/device/pad_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/pad/device/pad_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/pad/pad.hpp
Owners: @eyonland, @arakhmati

#0: opt slice op read
  tests/ttnn/unit_tests/operations/test_slice.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reshape/reshape_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transpose/hc_multi_core/transpose_hc_op_multi_core.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/work_split.hpp
  ttnn/cpp/ttnn/operations/data_movement/pad/device/pad_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/kernels/dataflow/reader_unary_unpad_dims_rm_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/kernels/dataflow/writer_unary_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/slice_program_factory.hpp
Owners: @eyonland, @arakhmati

#0: fix untilize, reshape, slice, skip gs due to pcc in transpose with untilize
  tests/tt_eager/python_api_testing/unit_testing/misc/test_fold_op.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_transpose.py
  tests/ttnn/unit_tests/operations/test_slice.py
  tt_metal/include/compute_kernel_api/untilize.h
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reshape/reshape_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/transpose/kernels/compute/transpose_wh_rm.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/kernels/dataflow/reader_unary_unpad_dims_rm_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/kernels/dataflow/slice_reader_unary_unpad_dims_rm_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/kernels/dataflow/slice_writer_unary_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/kernels/dataflow/writer_unary_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/slice_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/slice_op.hpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/slice_program_factory.hpp
Owners: @eyonland, @arakhmati

#10797: Import skip_for_grayskull
  tests/ttnn/integration_tests/bloom/test_bloom_for_causal_lm.py
  tests/ttnn/integration_tests/bloom/test_bloom_for_question_answering.py
  tests/ttnn/integration_tests/bloom/test_demo.py
  tests/ttnn/integration_tests/bloom/test_ttnn_optimized_functional_bloom.py
Owners: @eyonland, @arakhmati

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

third_party/ @tt-rkim @TT-billteng
sfpi/ @pgkeller

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim
requirements*.txt @tt-rkim
setup_hugepages.py @tt-rkim

Makefile @tt-rkim
/module.mk @tt-rkim
tt_metal/module.mk @tt-rkim
tt_metal/common/module.mk @tt-rkim
tt_eager/module.mk @tt-rkim

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu

# metal - base
# tt_metal/tt_metal.cpp @abhullar-tt @TT-billteng
tt_metal/host_api.hpp @abhullar-tt @TT-billteng @davorchap
tt_metal/impl/device/ @TT-billteng
tt_metal/impl/buffers/ @TT-billteng @tarafdarTT
tt_metal/impl/program/ @TT-billteng
# tt_metal/impl/ @abhullar-tt @TT-billteng
# tt_metal/impl/**/module.mk @tt-rkim @abhullar-tt @TT-billteng

# metal - dispatch
tt_metal/impl/dispatch/ @DrJessop @davorchap
tt_metal/impl/dispatch/**/module.mk @DrJessop @davorchap @tt-rkim
tt_metal/kernels/dataflow/dispatch/ @DrJessop @davorchap @tarafdarTT
docs/source/frameworks/tt_dispatch.rst @DrJessop @davorchap
docs/source/tt_metal/apis/host_apis/ @TT-billteng

# metal - fw, llks, risc-v
# tt_metal/hw/ckernels/ @davorchap
# tt_metal/hw/ckernels/**/module.mk @tt-rkim @davorchap
# tt_metal/hw/ckernels/**/Makefile @tt-rkim @davorchap
# tt_metal/hw/firmware/ @davorchap @pgkeller @DrJessop
tt_metal/hw/ckernels/ @rtawfik01
tt_metal/hw/firmware/**/module.mk @tt-rkim
tt_metal/hw/firmware/**/Makefile @tt-rkim
# tt_metal/hw/meta/ @davorchap @pgkeller @DrJessop @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @muthutt @mywoodstock
tt_metal/include/dataflow_kernel_api.h @davorchap @DrJessop @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @DrJessop @mywoodstock

# metal - profiler
# tt_metal/**/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/**/profiler/**/module.mk @tt-rkim @mo-tenstorrent @TT-billteng
# tests/tt_metal/tools/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent @TT-billteng
# docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent @TT-billteng
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @farbabi

# eager - dtx
**/dtx/ @tt-nshanker
**/dtx/**/module.mk @tt-rkim @tt-nshanker

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati
# **/tensor/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati

# eager - ops (dnn)
# **/tt_dnn/ @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/op_library/conv/ @tt-nshanker @arakhmati
# **/tt_dnn/op_library/conv/**/module.mk @tt-rkim @tt-nshanker @arakhmati
# **/tt_dnn/op_library/bmm/ @mywoodstock @TT-BrianLiu @tt-aho
# **/tt_dnn/op_library/bmm/**/module.mk @tt-rkim @mywoodstock @TT-BrianLiu @tt-aho
tt_eager/tt_dnn/op_library/composite/ @muthutt
tt_eager/tt_dnn/op_library/complex/ @muthutt
tt_eager/tt_dnn/op_library/backward/ @muthutt

# eager - python api
# **/tt_lib/
**/tt_lib/csrc/ @TT-BrianLiu @tt-aho @arakhmati @mywoodstock
**/tt_lib/fallback_ops @tt-aho @arakhmati

# TTNN
ttnn/ @eyonland @arakhmati
tests/ttnn/ @eyonland @arakhmati

# models
models/ @boris-drazic @farbabi
models/conv_on_device_utils*.py @tt-nshanker
models/bert_large_performant @tt-aho @TT-BrianLiu
models/metal_BERT_large_11 @tt-aho @TT-BrianLiu
functional_*/ @eyonland @arakhmati

# docs
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @DrJessop @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @DrJessop @pgkeller @tt-rkim

# misc
tests/**/dtx/ @tt-nshanker
tests/**/*test*conv*.py @tt-nshanker
# tests/**/module.mk @tenstorrent-metal/developers
tests/python_api_testing/conv/ @tt-nshanker
tests/python_api_testing/unit_testing/fallback_ops @tt-aho @arakhmati
tests/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py @muthutt
scripts/profiler/ @muthutt @mo-tenstorrent @TT-billteng
