Repository JushBJJ/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @TT-billteng, @pgkeller, @aliuTT, @tt-aho, @TT-BrianLiu, @abhullar-tt, @davorchap, @tarafdarTT, @DrJessop, @rtawfik01, @muthutt, @mywoodstock, @mo-tenstorrent, @farbabi, @tt-nshanker, @arakhmati, @eyonland, @boris-drazic

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

third_party/ @tt-rkim @TT-billteng
sfpi/ @pgkeller

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim
requirements*.txt @tt-rkim
setup_hugepages.py @tt-rkim

Makefile @tt-rkim
/module.mk @tt-rkim
tt_metal/module.mk @tt-rkim
tt_metal/common/module.mk @tt-rkim
tt_eager/module.mk @tt-rkim

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu

# metal - base
# tt_metal/tt_metal.cpp @abhullar-tt @TT-billteng
tt_metal/host_api.hpp @abhullar-tt @TT-billteng @davorchap
tt_metal/impl/device/ @TT-billteng
tt_metal/impl/buffers/ @TT-billteng @tarafdarTT
tt_metal/impl/program/ @TT-billteng
# tt_metal/impl/ @abhullar-tt @TT-billteng
# tt_metal/impl/**/module.mk @tt-rkim @abhullar-tt @TT-billteng

# metal - dispatch
tt_metal/impl/dispatch/ @DrJessop @davorchap
tt_metal/impl/dispatch/**/module.mk @DrJessop @davorchap @tt-rkim
tt_metal/kernels/dataflow/dispatch/ @DrJessop @davorchap @tarafdarTT
docs/source/frameworks/tt_dispatch.rst @DrJessop @davorchap
docs/source/tt_metal/apis/host_apis/ @TT-billteng

# metal - fw, llks, risc-v
# tt_metal/hw/ckernels/ @davorchap
# tt_metal/hw/ckernels/**/module.mk @tt-rkim @davorchap
# tt_metal/hw/ckernels/**/Makefile @tt-rkim @davorchap
# tt_metal/hw/firmware/ @davorchap @pgkeller @DrJessop
tt_metal/hw/ckernels/ @rtawfik01
tt_metal/hw/firmware/**/module.mk @tt-rkim
tt_metal/hw/firmware/**/Makefile @tt-rkim
# tt_metal/hw/meta/ @davorchap @pgkeller @DrJessop @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @muthutt @mywoodstock
tt_metal/include/dataflow_kernel_api.h @davorchap @DrJessop @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @DrJessop @mywoodstock

# metal - profiler
# tt_metal/**/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/**/profiler/**/module.mk @tt-rkim @mo-tenstorrent @TT-billteng
# tests/tt_metal/tools/profiler/ @mo-tenstorrent @TT-billteng
# tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent @TT-billteng
# docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent @TT-billteng
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @farbabi

# eager - dtx
**/dtx/ @tt-nshanker
**/dtx/**/module.mk @tt-rkim @tt-nshanker

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati
# **/tensor/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati

# eager - ops (dnn)
# **/tt_dnn/ @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/**/module.mk @tt-rkim @TT-BrianLiu @tt-aho @arakhmati
# **/tt_dnn/op_library/conv/ @tt-nshanker @arakhmati
# **/tt_dnn/op_library/conv/**/module.mk @tt-rkim @tt-nshanker @arakhmati
# **/tt_dnn/op_library/bmm/ @mywoodstock @TT-BrianLiu @tt-aho
# **/tt_dnn/op_library/bmm/**/module.mk @tt-rkim @mywoodstock @TT-BrianLiu @tt-aho
tt_eager/tt_dnn/op_library/composite/ @muthutt
tt_eager/tt_dnn/op_library/complex/ @muthutt
tt_eager/tt_dnn/op_library/backward/ @muthutt

# eager - python api
# **/tt_lib/
**/tt_lib/csrc/ @TT-BrianLiu @tt-aho @arakhmati @mywoodstock
**/tt_lib/fallback_ops @tt-aho @arakhmati

# TTNN
ttnn/ @eyonland @arakhmati
tests/ttnn/ @eyonland @arakhmati

# models
models/ @boris-drazic @farbabi
models/conv_on_device_utils*.py @tt-nshanker
models/bert_large_performant @tt-aho @TT-BrianLiu
models/metal_BERT_large_11 @tt-aho @TT-BrianLiu
functional_*/ @eyonland @arakhmati

# docs
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @DrJessop @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @DrJessop @pgkeller @tt-rkim

# misc
tests/**/dtx/ @tt-nshanker
tests/**/*test*conv*.py @tt-nshanker
# tests/**/module.mk @tenstorrent-metal/developers
tests/python_api_testing/conv/ @tt-nshanker
tests/python_api_testing/unit_testing/fallback_ops @tt-aho @arakhmati
tests/python_api_testing/sweep_tests/pytests/tt_dnn/test_composite.py @muthutt
scripts/profiler/ @muthutt @mo-tenstorrent @TT-billteng

#10460: creating a starter pytest to test all_gather + matmul. Once the fused implementation is ready, it will be added here.
  tests/tt_eager/python_api_testing/unit_testing/misc/test_all_gather_matmul.py
Owners: none

Change the variable name
  .github/workflows/docs-deployment.yaml
Owners: @tt-rkim

#10415: [WIP] Started work on overlapped all gather matmul op.
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/all_gather_matmul_op.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/all_gather_matmul_pybind.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/device/all_gather_matmul_op.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/device/all_gather_matmul_op.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/device/multi_core/all_gather_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/device/multi_core/bmm_op_multi_core_reuse_mcast_2d_optimized.cpp
Owners: @eyonland, @arakhmati

#0: PR feedback 2
  tests/scripts/run_cpp_unit_tests.sh
  tests/tt_metal/tt_metal/unit_tests_fast_dispatch/common/command_queue_fixture.hpp
  tests/tt_metal/tt_metal/unit_tests_fast_dispatch_single_chip_multi_queue/common/command_queue_fixture.hpp
  tt_metal/impl/dispatch/command_queue.cpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/tools/watcher_dump/watcher_dump.cpp
Owners: @DrJessop, @davorchap

#0: Try cleaning issue_queue_push_back
  tt_metal/impl/dispatch/command_queue_interface.hpp
Owners: @DrJessop, @davorchap

#0: simulation arch descriptor and remove versim descriptors
  tt_metal/core_descriptors/blackhole_simulation_1x2_arch.yaml
  tt_metal/soc_descriptors/blackhole_simulation_1x2_arch.yaml
  tt_metal/soc_descriptors/blackhole_versim_1x1_arch.yaml
  tt_metal/soc_descriptors/wormhole_b0_versim_1x1_arch.yaml
Owners: none

#0: metal changes to run test (still failing)
  CMakeLists.txt
  tt_metal/common/core_descriptor.hpp
  tt_metal/common/test_common.hpp
  tt_metal/llrt/tt_cluster.cpp
  tt_metal/llrt/tt_cluster.hpp
Owners: none

#0: apptainer for aus machines
  dockerfile/tt-metal.def
Owners: none

#9288: Add ttnn support for distilbert model
  models/experimental/functional_distilbert/README.md
  models/experimental/functional_distilbert/demo/demo.py
  models/experimental/functional_distilbert/demo/input_data.json
  models/experimental/functional_distilbert/distilbert_utils.py
  models/experimental/functional_distilbert/tests/test_perf_distilbert.py
  models/experimental/functional_distilbert/tt/ttnn_optimized_distilbert.py
  tests/scripts/run_performance.sh
  tests/ttnn/integration_tests/distilbert/test_ttnn_distilbert.py
Owners: @eyonland, @arakhmati, @farbabi

#0: Use mm for reduce sum w
  ttnn/cpp/ttnn/deprecated/tt_dnn/kernels/dataflow/generate_reduce_scaler.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/kernels/compute/reduce_w.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/multi_core_h/reduce_op_multi_core_h.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/multi_core_w/reduce_op_multi_core_w.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/reduce_op.cpp
Owners: @eyonland, @arakhmati

#0: wip
  tests/ttnn/unit_tests/operations/test_sum.py
  tt_metal/hw/inc/debug/dprint_tile.h
  ttnn/cpp/ttnn/deprecated/tt_dnn/kernels/dataflow/generate_reduce_scaler.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/kernels/compute/reduce_w.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/multi_core_h/reduce_op_multi_core_h.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/multi_core_w/reduce_op_multi_core_w.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/reduce_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/reduce_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/single_core_hw/reduce_op_single_core_hw.cpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor.cpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_dm_ops.cpp
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_impl.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions_pybind.hpp
Owners: @eyonland, @arakhmati

#0: pass by ref
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/multi_core_h/reduce_op_multi_core_h.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/multi_core_w/reduce_op_multi_core_w.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/reduce_op.cpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/reduce_op.hpp
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/reduce/single_core_hw/reduce_op_single_core_hw.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions.hpp
Owners: @eyonland, @arakhmati

#10439: functional vgg16, vgg11 implementations with ttnn conv
  models/experimental/functional_vgg/tests/test_ttnn_vgg11.py
  models/experimental/functional_vgg/tests/test_ttnn_vgg16.py
  models/experimental/functional_vgg/tt/ttnn_vgg.py
Owners: @eyonland, @arakhmati

#0: Add back dispatch core x y to firmware binaries
  pytest.ini
  tt_metal/detail/tt_metal.hpp
  tt_metal/jit_build/genfiles.cpp
  tt_metal/jit_build/genfiles.hpp
Owners: none

Update repo name
  .github/workflows/docs-deployment.yaml
Owners: @tt-rkim

Fix the error with the double quotes
  .github/workflows/docs-deployment.yaml
Owners: @tt-rkim

#10212: Workflows for BH CI
  .github/workflows/build-and-unit-tests.yaml
  .github/workflows/fast-dispatch-build-and-unit-tests.yaml
  .github/workflows/ttnn-post-commit.yaml
  models/utility_functions.py
  tests/scripts/common.py
  tests/scripts/run_cpp_fd2_tests.sh
  tests/scripts/run_cpp_unit_tests.sh
  tests/scripts/run_tt_eager.py
Owners: @tt-rkim, @boris-drazic, @farbabi

#0: small changes
  tt_metal/graph_tracking.hpp
  tt_metal/impl/program/program.cpp
Owners: @TT-billteng

#0: Update stable difusion
  tests/device_perf_tests/stable_diffusion/test_perf_stable_diffusion.py
Owners: none

#9857: Apply stagger on matmuls with > 48 cores on wh_b0
  tests/tt_metal/tt_metal/perf_microbenchmark/1_compute_mm/test_compute_mm.cpp
  tt_metal/common/constants.hpp
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_io/llk_io_unpack.h
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_1d_optimized/bmm_op_multi_core_reuse_mcast_1d_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_2d_optimized/bmm_op_multi_core_reuse_mcast_2d_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_dram_sharded_optimized/bmm_op_multi_core_reuse_dram_sharded_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_optimized/bmm_op_multi_core_reuse_optimized.cpp
Owners: @rtawfik01, @eyonland, @arakhmati

#0: WIP
  tests/ttnn/unit_tests/operations/test_new_conv2d.py
  ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/sliding_window_op_infra/sliding_window.cpp
  ttnn/cpp/ttnn/operations/conv2d/conv2d.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv_sharded/optimized_conv_op_sharded_v2.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/optimized_conv_op_program_factory.cpp
Owners: @tt-nshanker, @eyonland, @arakhmati

#0: Working Activation Reader. TODO: Implement CBs for Tilization
  ttnn/cpp/ttnn/operations/conv2d/device/kernels/activation_reader_width_sharded.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/kernels/weights_reade
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv_sharded/optimized_conv_op_width_sharded_v2.cpp
  ttnn/cpp/ttnn/operations/memory/memory.hpp
Owners: @eyonland, @arakhmati

#0: First commit
  tests/ttnn/unit_tests/operations/test_new_conv2d.py
Owners: @tt-nshanker

#0: WIP
  tests/ttnn/unit_tests/operations/test_new_conv2d.py
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/conv2d/conv2d.cpp
  ttnn/cpp/ttnn/operations/conv2d/conv2d_pybind.hpp
  ttnn/cpp/ttnn/operations/conv2d/device/kernels/activation_reader_width_sharded.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/kernels/reader_conv_activations_2d_mcast_padded_with_halo_3x3_weights_v2.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv/optimized_conv_op.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv_sharded/optimized_conv_op_sharded_v2.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv_sharded/optimized_conv_op_width_sharded_v2.cpp
  ttnn/cpp/ttnn/operations/memory/memory.cpp
  ttnn/cpp/ttnn/operations/memory/memory.hpp
  ttnn/cpp/ttnn/operations/memory/memory_pybind.hpp
  ttnn/ttnn/__init__.py
Owners: @tt-nshanker, @eyonland, @arakhmati

#9756: optimized_conv pybinding
  ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor.cpp
  ttnn/cpp/ttnn/operations/conv2d/conv2d_pybind.hpp
Owners: @eyonland, @arakhmati

#0: Fixed module loader for python3.12
  .gitignore
  ttnn/ttnn/operations/__init__.py
Owners: @eyonland, @arakhmati

#9756: Move Conv2d to tttn. First commit. Works
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv/optimized_conv_op.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv_sharded/optimized_conv_op_sharded_v2.cpp
Owners: @eyonland, @arakhmati

#0: WIP
  tests/ttnn/unit_tests/operations/test_new_conv2d.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/conv2d/conv2d.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv_sharded/optimized_conv_op_sharded_v2.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/multi_core_optimized_conv_sharded/optimized_conv_op_width_sharded_v2.cpp
  ttnn/cpp/ttnn/operations/conv2d/device/optimized_conv_op.hpp
Owners: @tt-nshanker, @eyonland, @arakhmati

#9857: Add options to disable stagger
  tests/tt_eager/python_api_testing/unit_testing/misc/test_matmul_stagger.py
  tests/tt_metal/tt_metal/perf_microbenchmark/1_compute_mm/test_compute_mm.cpp
  tests/ttnn/unit_tests/operations/test_experimental.py
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.hpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_1d_optimized/bmm_op_multi_core_reuse_mcast_1d_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_2d_optimized/bmm_op_multi_core_reuse_mcast_2d_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_mcast_dram_sharded_optimized/bmm_op_multi_core_reuse_dram_sharded_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/multi_core_reuse_optimized/bmm_op_multi_core_reuse_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/matmul_pybind.hpp
Owners: @eyonland, @arakhmati

#10415: [WIP] Finished setup for all gather matmul validation. NOTE: currently, ttnn::all_gather_matmul simply runs ttnn::all_gather in the back.
  tests/tt_eager/python_api_testing/unit_testing/misc/test_all_gather_matmul.py
  tt_metal/tt_stl/reflection.hpp
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_op.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/multi_core/all_gather_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/all_gather_matmul_op.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/all_gather_matmul_pybind.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/device/all_gather_matmul_op.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/device/all_gather_matmul_op.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/device/multi_core/all_gather_op_multi_core.cpp
Owners: @eyonland, @arakhmati

#0: Update Falcon40b compile time
  models/demos/t3000/falcon40b/tests/test_perf_falcon.py
Owners: @boris-drazic, @farbabi

#10415: [WIP] Added support for running all gather with a core grid offset. Connected all_gather into all_gather-matmul with this offset as well.
  tests/tt_eager/python_api_testing/unit_testing/misc/test_all_gather_matmul.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_op.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/multi_core/all_gather_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/all_gather_matmul_op.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/all_gather_matmul_pybind.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/device/all_gather_matmul_op.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/device/all_gather_matmul_op.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather_matmul/device/multi_core/all_gather_matmul_op_multi_core.cpp
Owners: @eyonland, @arakhmati

#0: Minor test_prefetcher cleanup
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/common.h
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
Owners: none

#10246: Increase space for globals
  tt_metal/hw/inc/grayskull/dev_mem_map.h
  tt_metal/impl/dispatch/cq_commands.hpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
Owners: @DrJessop, @davorchap

#10246: Add dispatch command set_write_offset
  tests/tt_metal/tools/profiler/test_device_profiler.py
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/common.h
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
  tt_metal/impl/dispatch/cq_commands.hpp
  tt_metal/impl/dispatch/device_command.hpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
Owners: @DrJessop, @davorchap

#10246: Use dynamic kernel config base address
  tt_metal/impl/CMakeLists.txt
  tt_metal/impl/dispatch/command_queue.cpp
  tt_metal/impl/dispatch/command_queue.hpp
  tt_metal/impl/dispatch/command_queue_interface.hpp
  tt_metal/impl/dispatch/device_command.hpp
  tt_metal/impl/dispatch/worker_config_buffer.cpp
  tt_metal/impl/dispatch/worker_config_buffer.hpp
  tt_metal/impl/program/program.cpp
  tt_metal/impl/program/program.hpp
  tt_metal/tt_metal.cpp
Owners: @DrJessop, @davorchap, @TT-billteng

#10550: Enable remote chip routing before profiler init
  tt_metal/detail/tt_metal.hpp
  tt_metal/tools/profiler/tt_metal_profiler.cpp
Owners: none

#10246: Enable runtime arg double buffering
  tt_metal/impl/dispatch/command_queue.cpp
  tt_metal/impl/dispatch/command_queue.hpp
  tt_metal/impl/dispatch/worker_config_buffer.cpp
Owners: @DrJessop, @davorchap

#0: fix assertion bug
  ttnn/cpp/ttnn/tensor/tensor_utils.cpp
Owners: @eyonland, @arakhmati

#10712: use t3k device fixture for all gather tests
  tests/ttnn/unit_tests/operations/test_all_gather.py
Owners: @eyonland, @arakhmati
